input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.nav-categories {
  position: relative;
  z-index: 50;
}
.nav-categories ul.navbar-nav {
  padding: 0;
  font-size: 0;
  margin-bottom: 22px;
  margin-left: 0;
  margin-right: 0;
  float: none;
}
.nav-categories ul.navbar-nav > li {
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 20px/2;
  list-style: none outside none;
  font-size: 0;
  position: relative;
  z-index: 1;
  float: none;
}
.nav-categories ul.navbar-nav > li.active:before,
.nav-categories ul.navbar-nav > li:hover:before,
.nav-categories ul.navbar-nav > li.open:before {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  border: 12px solid transparent;
  border-top-color: #e16d2c;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: 100%;
  margin: 0 auto;
  z-index: 3;
}
.nav-categories ul.navbar-nav > li a {
  display: block;
  width: 100%;
  min-height: 65px;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #e16d2c;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}
.nav-categories ul.navbar-nav > li a span {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.nav-categories ul.navbar-nav > li a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 65px;
  margin-right: -1px;
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li a:after {
    height: 52px;
  }
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li a {
    text-align: left;
    min-height: 52px;
  }
}
.nav-categories ul.navbar-nav > li.materials,
.nav-categories ul.navbar-nav > li.doors,
.nav-categories ul.navbar-nav > li.hardware {
  z-index: 3;
}
.nav-categories ul.navbar-nav > li.materials a span,
.nav-categories ul.navbar-nav > li.doors a span,
.nav-categories ul.navbar-nav > li.hardware a span {
  padding-left: 66px;
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li.materials a span,
  .nav-categories ul.navbar-nav > li.doors a span,
  .nav-categories ul.navbar-nav > li.hardware a span {
    padding-left: 0;
  }
  .nav-categories ul.navbar-nav > li.materials a span:before,
  .nav-categories ul.navbar-nav > li.doors a span:before,
  .nav-categories ul.navbar-nav > li.hardware a span:before {
    content: none !important;
  }
}
.nav-categories ul.navbar-nav > li.materials {
  z-index: 6;
}
.nav-categories ul.navbar-nav > li.materials a span {
  position: relative;
}
.nav-categories ul.navbar-nav > li.materials a span:before {
  position: absolute;
  left: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto 0;
  content: '';
  display: block;
  background: transparent url(../media/images/sprite-categories.png) no-repeat scroll 0 0;
}
.nav-categories ul.navbar-nav > li.materials a span:before {
  width: 59px;
  height: 47px;
}
.nav-categories ul.navbar-nav > li.doors {
  z-index: 5;
}
.nav-categories ul.navbar-nav > li.doors a {
  background-color: #ff9d00;
}
.nav-categories ul.navbar-nav > li.doors a span {
  position: relative;
}
.nav-categories ul.navbar-nav > li.doors a span:before {
  position: absolute;
  left: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto 0;
  content: '';
  display: block;
  background: transparent url(../media/images/sprite-categories.png) no-repeat scroll 0 0;
}
.nav-categories ul.navbar-nav > li.doors a span:before {
  width: 50px;
  height: 47px;
  background-position: -95px 0;
}
.nav-categories ul.navbar-nav > li.doors:before {
  border-top-color: #ff9d00;
}
.nav-categories ul.navbar-nav > li.hardware {
  z-index: 4;
}
.nav-categories ul.navbar-nav > li.hardware a {
  background-color: #d23e2a;
  color: #FFFFFF;
}
.nav-categories ul.navbar-nav > li.hardware a span {
  position: relative;
}
.nav-categories ul.navbar-nav > li.hardware a span:before {
  position: absolute;
  left: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto 0;
  content: '';
  display: block;
  background: transparent url(../media/images/sprite-categories.png) no-repeat scroll 0 0;
}
.nav-categories ul.navbar-nav > li.hardware a span:before {
  width: 47px;
  height: 47px;
  background-position: -182px 0;
}
.nav-categories ul.navbar-nav > li.hardware:before {
  border-top-color: #d23e2a;
}
.nav-categories ul.navbar-nav > li .dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  font-size: 18px;
  font-size: 1.8rem;
  cursor: pointer;
}
.nav-categories ul.navbar-nav > li .dropdown-toggle:hover {
  text-decoration: none;
}
.nav-categories ul.navbar-nav > li .dropdown-toggle:before {
  display: none !important;
}
.nav-categories ul.navbar-nav > li .dropdown-toggle:after {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  position: absolute;
  left: 23px;
  top: 28px;
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li .dropdown-toggle:after {
    left: 17px;
    top: 22px;
  }
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li .dropdown-toggle {
    border-left: 1px solid #9e2f20;
    height: 52px;
    width: 52px;
  }
}
.nav-categories ul.navbar-nav > li .dropdown-menu {
  width: 200%;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  z-index: 2;
  font-size: 0;
  position: absolute;
  background: #FFFFFF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #e3e3e3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e3e3e3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #e3e3e3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFFFF 0%, #e3e3e3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFFFFF 0%, #e3e3e3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #FFFFFF 0%, #e3e3e3 100%);
  /* W3C */
}
.nav-categories ul.navbar-nav > li .dropdown-menu li {
  font-size: 18px;
  font-size: 1.8rem;
  width: 50%;
  vertical-align: top;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
}
.nav-categories ul.navbar-nav > li .dropdown-menu li a {
  background-color: transparent;
  padding: 0;
  color: #3a3a3a;
  height: auto;
  width: auto;
  min-height: 0;
  display: inline;
}
.nav-categories ul.navbar-nav > li .dropdown-menu li a:hover {
  color: #d23e2a;
}
.nav-categories ul.navbar-nav > li .dropdown-menu li a:after,
.nav-categories ul.navbar-nav > li .dropdown-menu li a:hover:after,
.nav-categories ul.navbar-nav > li .dropdown-menu li a:before,
.nav-categories ul.navbar-nav > li .dropdown-menu li a:hover:before {
  content: none;
}
.nav-categories ul.navbar-nav > li .dropdown-menu li:hover a:after,
.nav-categories ul.navbar-nav > li .dropdown-menu li:hover a:before {
  content: none;
}
.nav-categories ul.navbar-nav > li .dropdown-menu:after {
  content: '';
  width: 1px;
  height: 86%;
  position: absolute;
  left: 50%;
  top: 7%;
  border-left: 2px solid #c3c3c3;
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li .dropdown-menu {
    width: 100%;
  }
  .nav-categories ul.navbar-nav > li .dropdown-menu li {
    padding: 10px 0;
    width: 100%;
  }
  .nav-categories ul.navbar-nav > li .dropdown-menu:after {
    content: none;
  }
}
.nav-categories ul.navbar-nav > li.open > .dropdown-toggle:after {
  border-top-color: transparent;
  border-bottom-color: #FFFFFF;
  top: 18px;
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li.open > .dropdown-toggle:after {
    top: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav-categories ul.navbar-nav > li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav > li {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .nav-categories ul.navbar-nav {
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.breadcrumb {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff, endColorstr=#80ffffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff, endColorstr=#80ffffff);
  padding: 12px 15px;
  margin-bottom: 22px;
}
.breadcrumb .breadcrumb-item {
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.breadcrumb .breadcrumb-item a {
  color: #3a3a3a;
}
.breadcrumb .breadcrumb-item:before {
  content: '> ';
  position: relative;
  top: 2px;
}
.breadcrumb .breadcrumb-item:first-child:before {
  content: none;
}
.breadcrumb .breadcrumb-item:last-child {
  font-weight: 700;
}
@media (max-width: 767px) {
  .breadcrumb .breadcrumb-item {
    display: none;
  }
  .breadcrumb .breadcrumb-item:last-child {
    display: inline-block;
    padding: 0 35px;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    font-size: 2.4rem;
  }
  .breadcrumb .breadcrumb-item:last-child:before,
  .breadcrumb .breadcrumb-item:last-child:after {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom-width: 0;
    border-top-color: #3a3a3a;
    width: 1px;
    height: 1px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    left: 0;
  }
  .breadcrumb .breadcrumb-item:last-child:after {
    left: auto;
    right: 0;
  }
}
@media (max-width: 767px) {
  .breadcrumb {
    background: transparent none;
    padding: 0;
    text-align: center;
  }
}
.product-list {
  padding: 0;
  font-size: 0;
}
.product-list li {
  display: inline-block;
  vertical-align: top;
  float: none;
  list-style: none outside none;
  margin-bottom: 20px;
}
.product-list li a,
.product-list li a:focus {
  color: #3a3a3a;
  position: relative;
  display: block;
  text-decoration: none;
}
.product-list li a .product,
.product-list li a:focus .product {
  background-color: #FFFFFF;
  padding: 18px;
}
.product-list li a .product .image,
.product-list li a:focus .product .image {
  width: 100%;
  height: 1px;
  padding-bottom: 81.88976377952756%;
  position: relative;
  overflow: hidden;
}
.product-list li a .product .image img,
.product-list li a:focus .product .image img {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  height: 100%;
  max-width: none;
}
.product-list li a .product .title,
.product-list li a:focus .product .title {
  margin-top: 18px;
  border-top: 2px solid #d2d2d2;
  padding-top: 18px;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
}
.product-list li a .product .title .name,
.product-list li a:focus .product .title .name {
  font-weight: 700;
}
.product-list li a .over,
.product-list li a:focus .over {
  background-color: #141414;
  background-color: rgba(20, 20, 20, 0.8);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc141414, endColorstr=#cc141414)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc141414, endColorstr=#cc141414);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: display,opacity;
  transition-property: display,opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  overflow: hidden;
}
.product-list li a .over:before,
.product-list li a:focus .over:before {
  content: '';
  display: block;
  width: 72px;
  height: 72px;
  border: 2px solid #FFFFFF;
  border-radius: 99px;
  behavior: url(/pie.php);
  -pie-poll: true;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
}
.product-list li a .over:after,
.product-list li a:focus .over:after {
  content: '+';
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-size: 6rem;
  color: #FFFFFF;
  display: block;
  width: 72px;
  height: 72px;
  line-height: 69px;
  text-align: center;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
}
.product-list li a:hover,
.product-list li a:focus:hover {
  text-decoration: none;
}
.product-list li a:hover .over,
.product-list li a:focus:hover .over {
  opacity: 1;
}
.ie8 .product-list li a:hover .over,
.ie8 .product-list li a:focus:hover .over {
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .product-list li {
    display: block;
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
}
.product-step-box {
  background-color: #FFFFFF;
  padding: 20px 24px;
  margin-bottom: 20px;
}
.product-step-box .col-sm-6 {
  text-align: center;
}
.product-step-box .col-sm-6 label {
  display: block;
}
.product-step-box h1,
.product-step-box h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 400;
  padding: 13px 0 19px 85px;
  border-bottom: 2px solid #d2d2d2;
  margin-bottom: 25px;
}
.product-step-box h1 .step-number,
.product-step-box h2 .step-number {
  float: left;
  margin: -13px 0 0 -85px;
}
@media (max-width: 767px) {
  .product-step-box h1 .step-number,
  .product-step-box h2 .step-number {
    margin: -10px 0 0 -50px;
  }
}
.product-step-box h1:after,
.product-step-box h2:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 767px) {
  .product-step-box h1,
  .product-step-box h2 {
    font-size: 20px;
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 10px;
  }
}
.product-step-box h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.product-step-box .max-box {
  max-width: 470px;
  text-align: left;
}
.product-step-box .max-box.right {
  float: right;
  width: 100%;
}
.product-step-box .max-box.center {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  max-width: 380px;
  width: 100%;
}
.product-step-box .max-box.center h3 {
  text-align: left;
}
@media (max-width: 1199px) {
  .product-step-box .max-box.center {
    width: 100%;
  }
}
.product-step-box .max-box.large {
  max-width: 961px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  .product-step-box .max-box {
    max-width: none;
  }
  .product-step-box .max-box.right {
    float: none;
  }
  .product-step-box .max-box.center {
    display: block;
  }
}
.product-step-box .single-field {
  margin-bottom: 34px;
}
.product-step-box .essences {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  padding: 0;
}
.product-step-box .essences li {
  display: inline-block;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.product-step-box .essences li input {
  display: none;
}
.product-step-box .essences li label {
  display: block;
  margin: 0;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
}
.product-step-box .essences li label img {
  width: 100%;
}
.product-step-box .essences li label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #e16d2c;
  display: none;
}
.product-step-box .essences li label.active:after {
  display: block;
}
@media (max-width: 767px) {
  .product-step-box .essences li {
    width: 33.3333333333%;
  }
}
.product-step-box .col-lg-5 {
  margin-bottom: 40px;
}
.product-step-box .col-lg-5 label {
  display: block;
}
.product-step-box .doors {
  margin: 0 -20px;
  padding: 0;
  font-size: 0;
}
.product-step-box .doors li {
  padding: 0 20px;
  list-style: none outside none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  width: 20%;
}
.product-step-box .doors li label {
  cursor: pointer;
  margin: 0;
}
.product-step-box .doors li label input {
  display: none;
}
.product-step-box .doors li label div {
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
}
.product-step-box .doors li label div:after {
  content: '';
  display: none;
  border: 5px solid #ff9d00;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.product-step-box .doors li label span {
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin-top: 14px;
}
.product-step-box .doors li label.active div:after {
  display: block;
}
@media (max-width: 991px) {
  .product-step-box .doors li {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-step-box .doors li {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .product-step-box .doors {
    margin: 0 -10px;
  }
}
.product-step-box .your-choice img {
  display: block;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
  margin: 0 auto 20px auto;
}
.product-step-box .your-choice p {
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.product-step-box .your-choice.door {
  text-align: left;
}
.product-step-box .your-choice.door img {
  margin: 0 0 40px 0;
}
.product-step-box .thickness-list {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  text-align: center;
}
.product-step-box .thickness-list li {
  display: inline-block;
  width: 11.11111111%;
  padding: 0 10px;
  vertical-align: bottom;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.product-step-box .thickness-list li label {
  display: block;
  padding-top: 30px;
  text-align: center;
  cursor: pointer;
}
.product-step-box .thickness-list li label input {
  display: none;
}
.product-step-box .thickness-list li label .indicator {
  width: 100%;
  height: 0.125in;
  background-color: #bcbcbc;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
  position: relative;
}
.product-step-box .thickness-list li label .indicator.inch-1-8 {
  height: 0.125in;
}
.product-step-box .thickness-list li label .indicator.inch-1-4 {
  height: 0.25in;
}
.product-step-box .thickness-list li label .indicator.inch-3-8 {
  height: 0.375in;
}
.product-step-box .thickness-list li label .indicator.inch-1-2 {
  height: 0.5in;
}
.product-step-box .thickness-list li label .indicator.inch-5-8 {
  height: 0.625in;
}
.product-step-box .thickness-list li label .indicator.inch-11-16 {
  height: 0.6875in;
}
.product-step-box .thickness-list li label .indicator.inch-3-4 {
  height: 0.75in;
}
.product-step-box .thickness-list li label .indicator.inch-1 {
  height: 1in;
}
.product-step-box .thickness-list li label .indicator.inch-1-1-8 {
  height: 1.125in;
}

.product-step-box .thickness-list li label .indicator.inch-1-1-8 {
  height: 1.250in;
}
.product-step-box .thickness-list li label .indicator:after {
  content: '';
  display: none;
  width: 1px;
  height: 1px;
  border: 15px solid transparent;
  border-top-color: #e16d2c;
  position: absolute;
  bottom: 100%;
  left: -9999px;
  right: -9999px;
  margin: 0 auto -4px auto;
}
.product-step-box .thickness-list li label span {
  display: block;
  padding-top: 10px;
}
.product-step-box .thickness-list li label:hover .indicator:after {
  display: block;
}
.product-step-box .thickness-list li label.active .indicator {
  background-color: #e16d2c;
}
.product-step-box .thickness-list li label.active .indicator:after {
  display: block;
}
.product-step-box .unit {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", Times, serif;
  text-transform: uppercase;
  padding-top: 17px;
}
.product-step-box .x-sign {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 44px;
  font-size: 4.4rem;
  font-family: "Montserrat", Times, serif;
  padding-top: 49px;
  text-transform: uppercase;
  line-height: 1em;
}
@media (max-width: 991px) {
  .product-step-box .x-sign {
    padding-top: 0;
  }
}
.product-step-box .max-value p {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Montserrat", Times, serif;
  font-style: italic;
}
.product-step-box .tip-box {
  background-color: #ff9d00;
  padding: 23px 25px;
  margin-top: 61px;
}
.product-step-box .tip-box h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 0;
}
.product-step-box .tip-box p {
  font-size: 16px;
  font-size: 1.6rem;
}
@media (max-width: 991px) {
  .product-step-box .tip-box {
    margin-top: 20px;
  }
}
.product-step-box .col-xs-4 input,
.product-step-box .col-xs-6 input,
.product-step-box .col-xs-8 input {
  text-align: center;
}
.product-step-box .edge-selection {
  padding: 0;
  max-width: 417px;
  margin-bottom: 35px;
}
.product-step-box .edge-selection > li {
  list-style: none outside none;
  margin-bottom: 10px;
}
.product-step-box .edge-selection > li label {
  display: block;
  width: 100%;
  padding: 0 0 0 38px;
}
.product-step-box .edge-selection > li label .visible {
  float: left;
  margin-left: -38px;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
  font-weight: 700;
  line-height: 58px;
  width: 22px;
  text-align: center;
}
.product-step-box .edge-box {
  position: relative;
  height: 285px;
  padding: 33px;
  margin-bottom: 20px;
}
.product-step-box .edge-box .cardinal-point {
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1em;
  text-align: center;
  font-family: "Montserrat", Times, serif;
}
.product-step-box .edge-box .cardinal-point.south {
  top: auto;
  bottom: 0;
}
.product-step-box .edge-box .cardinal-point.east {
  top: -9999px;
  bottom: -9999px;
  left: auto;
  right: 0;
}
.product-step-box .edge-box .cardinal-point.west {
  top: -9999px;
  bottom: -9999px;
  left: 0;
  right: auto;
}
.product-step-box .edge-box .edge-border-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 32px solid transparent;
  z-index: 3;
}
.product-step-box .edge-box .border-box {
  border: 2px dashed #ff9d00;
  width: 100%;
  height: 100%;
  padding: 32px;
  position: relative;
}
.product-step-box .edge-box .border-box.inner {
  padding: 0;
}
.product-step-box .edge-box .border-box .corners {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}
.product-step-box .edge-box .border-box .corners.top,
.product-step-box .edge-box .border-box .corners.bottom {
  width: 100%;
  height: 32px;
}
.product-step-box .edge-box .border-box .corners.top:before,
.product-step-box .edge-box .border-box .corners.bottom:before {
  position: absolute;
  top: 0;
  left: 1px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll left -41px;
}
.product-step-box .edge-box .border-box .corners.top:after,
.product-step-box .edge-box .border-box .corners.bottom:after {
  position: absolute;
  top: 0;
  right: 1px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px 0;
}
.product-step-box .edge-box .border-box .corners.bottom {
  top: auto;
  bottom: 0;
}
.product-step-box .edge-box .border-box .corners.bottom:before {
  background-position: -6px 0;
}
.product-step-box .edge-box .border-box .corners.bottom:after {
  background-position: left -41px;
}
.product-step-box .edge-box .border-box .corners.left,
.product-step-box .edge-box .border-box .corners.right {
  width: 32px;
  height: 100%;
}
.product-step-box .edge-box .border-box .corners.left:before,
.product-step-box .edge-box .border-box .corners.right:before {
  position: absolute;
  top: 1px;
  left: 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px -46px;
}
.product-step-box .edge-box .border-box .corners.left:after,
.product-step-box .edge-box .border-box .corners.right:after {
  position: absolute;
  bottom: 1px;
  right: 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll 0 -6px;
}
.product-step-box .edge-box .border-box .corners.right {
  left: auto;
  right: 0;
}
.product-step-box .edge-box .border-box .corners.right:before {
  background-position: 0 -6px;
}
.product-step-box .edge-box .border-box .corners.right:after {
  background-position: -6px -47px;
}
.product-step-box .edge-box .border-box .info-box {
  border: 5px solid #3a3a3a;
  background-color: #f0f0f0;
  height: 100%;
  position: relative;
}
.product-step-box .edge-box .border-box .info-box .length-box {
  display: inline-block;
  padding: 12px 0;
  background-color: #ff9d00;
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: 0 auto;
  width: 108px;
  height: 53px;
  font-family: "Montserrat", Times, serif;
}
.product-step-box .edge-box .border-box .info-box .length-box.left {
  left: 0;
  right: auto;
  top: 44%;
  margin: auto 0;
}
.product-step-box .edge-box.full-top .edge-border-box {
  border-top-color: #d23e2a;
}
.product-step-box .edge-box.full-top .border-box {
  border-top-style: solid;
}
.product-step-box .edge-box.full-top .corners.top:before {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: -2px;
  left: -1px;
}
.product-step-box .edge-box.full-top .corners.top:after {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: -2px;
  right: -1px;
}
.product-step-box .edge-box.full-bottom .edge-border-box {
  border-bottom-color: #d23e2a;
}
.product-step-box .edge-box.full-bottom .border-box {
  border-bottom-style: solid;
}
.product-step-box .edge-box.full-bottom .corners.bottom:before {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -2px;
  left: -1px;
}
.product-step-box .edge-box.full-bottom .corners.bottom:after {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -2px;
  right: -1px;
}
.product-step-box .edge-box.full-left .edge-border-box {
  border-left-color: #d23e2a;
}
.product-step-box .edge-box.full-left .border-box {
  border-left-style: solid;
}
.product-step-box .edge-box.full-left .corners.left:before {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: -1px;
  left: -2px;
}
.product-step-box .edge-box.full-left .corners.left:after {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -1px;
  right: -2px;
}
.product-step-box .edge-box.full-right .edge-border-box {
  border-right-color: #d23e2a;
}
.product-step-box .edge-box.full-right .border-box {
  border-right-style: solid;
}
.product-step-box .edge-box.full-right .corners.right:before {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: -1px;
  left: -2px;
}
.product-step-box .edge-box.full-right .corners.right:after {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -1px;
  right: -2px;
}
@media (max-width: 767px) {
  .product-step-box .edge-box {
    margin: 0 -20px 20px -20px;
  }
}
.product-step-box .notice {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", Times, serif;
}
.product-step-box .spinner-box label {
  display: block;
  margin-bottom: 0;
}
.product-step-box .spinner-box label > span {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  width: 32%;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
}
@media (max-width: 767px) {
  .product-step-box .spinner-box label > span {
    display: block;
    margin-bottom: 20px;
    width: auto;
  }
}
.product-step-box .spinner-box .bootstrap-touchspin {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding: 0 49px;
  position: relative;
}
.product-step-box .spinner-box .bootstrap-touchspin span {
  display: none;
}
.product-step-box .spinner-box .bootstrap-touchspin span.input-group-btn {
  display: block;
}
.product-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  right: 0;
}
.product-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.product-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  left: 0;
}
.product-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.product-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '-';
  line-height: 36px;
}
.product-step-box .spinner-box input {
  text-align: center;
}
.product-step-box .spinner-box .col-sm-4 {
  text-align: center;
}
@media (max-width: 767px) {
  .product-step-box .spinner-box {
    text-align: center;
  }
}
.product-step-box.detail {
  padding: 33px 24px;
}
.product-step-box.detail .col-sm-5 {
  text-align: center;
  position: relative;
  padding-right: 22px;
}
.product-step-box.detail .col-sm-5 img {
  display: block;
  margin: 0 auto 7px auto;
}
.product-step-box.detail .col-sm-5:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  border-right: 2px solid #e4e4e4;
}
@media (max-width: 767px) {
  .product-step-box.detail .col-sm-5 {
    margin-bottom: 30px;
    padding-right: 10px;
  }
  .product-step-box.detail .col-sm-5:after {
    content: none;
  }
}
.product-step-box.detail .col-sm-7 {
  padding-left: 96px;
}
.product-step-box.detail .col-sm-7 h2 {
  padding: 10px 0 0 0;
  border: none;
  font-weight: bold;
}
.product-step-box.detail .col-sm-7 h3 {
  margin: 0;
  text-transform: none;
  font-size: 19px;
  font-size: 1.9rem;
}
.product-step-box.detail .col-sm-7 p,
.product-step-box.detail .col-sm-7 p:last-child {
  margin: 0 0 22px 0;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.product-step-box.detail .col-sm-7 .row {
  font-size: 0;
}
.product-step-box.detail .col-sm-7 .row .col-sm-6 {
  text-align: left;
  float: none;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767px) {
  .product-step-box.detail .col-sm-7 .row .col-sm-6 {
    display: block;
  }
}
.product-step-box.detail .col-sm-7 form {
  padding-top: 29px;
}
@media (max-width: 991px) {
  .product-step-box.detail .col-sm-7 .col-md-6 {
    margin-bottom: 30px;
  }
  .product-step-box.detail .col-sm-7 .col-md-6:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-step-box.detail .col-sm-7 {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .product-step-box.detail .col-sm-7 {
    padding-left: 10px;
  }
}
.product-step-box.title-no-border h1,
.product-step-box.title-no-border h2 {
  border: none;
  padding: 0;
  margin: 0 0 21px 0;
}
.product-step-box.title-no-border .row {
  font-size: 0;
}
.product-step-box.title-no-border .row .col-sm-8,
.product-step-box.title-no-border .row .col-sm-4 {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.product-step-box.title-no-border .row .col-sm-8 p,
.product-step-box.title-no-border .row .col-sm-4 p,
.product-step-box.title-no-border .row .col-sm-8 p:last-child,
.product-step-box.title-no-border .row .col-sm-4 p:last-child {
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .product-step-box.title-no-border .row .col-sm-8,
  .product-step-box.title-no-border .row .col-sm-4 {
    display: block;
  }
}
.product-step-box .full-width {
  margin: 0 -24px -20px -24px;
}
.product-step-box .full-width table {
  width: 100%;
}
@media (max-width: 767px) {
  .product-step-box .tab-pane .col-md-5 > .row,
  .product-step-box .tab-pane .col-md-3 > .row {
    margin: 0 -5px;
  }
  .product-step-box .col-xs-2,
  .product-step-box .col-xs-4,
  .product-step-box .col-xs-6,
  .product-step-box .col-xs-8 {
    padding: 0 5px;
  }
}
.product-step-box:after {
  content: '';
  display: block;
  clear: both;
}
.total-box {
  background-color: #ff9d00;
  padding: 20px 24px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.total-box .max-box {
  max-width: 470px;
  text-align: left;
  text-align: center;
}
.total-box .max-box.right {
  float: right;
  width: 100%;
}
.total-box .max-box.center {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  max-width: 380px;
  width: 100%;
}
.total-box .max-box.center h3 {
  text-align: left;
}
@media (max-width: 1199px) {
  .total-box .max-box.center {
    width: 100%;
  }
}
.total-box .max-box.large {
  max-width: 961px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  .total-box .max-box {
    max-width: none;
  }
  .total-box .max-box.right {
    float: none;
  }
  .total-box .max-box.center {
    display: block;
  }
}
.total-box .max-box label {
  display: block;
  text-align: left;
  font-size: 0;
}
.total-box .max-box label > span {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  width: 40.3%;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
}
.total-box .max-box label > span .lowercase {
  text-transform: none;
}
@media (max-width: 767px) {
  .total-box .max-box label > span {
    display: block;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
  }
}
.total-box .max-box label .field {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  padding-right: 20px;
}
.total-box .max-box label .field .form-control,
.total-box .max-box label .field .form-control[disabled],
.total-box .max-box label .field .form-control[readonly] {
  text-align: center;
  background-color: transparent;
  float: left;
  width: 100%;
}
.total-box .max-box label .field span {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
  float: right;
  margin-right: -20px;
  line-height: 58px;
}
.total-box .max-box label .field:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 767px) {
  .total-box .max-box label .field {
    display: block;
    margin-bottom: 20px;
    width: auto;
  }
}
.nav-tabs {
  border-bottom: none;
  height: 63px;
  position: relative;
  margin-bottom: -2px;
  z-index: 3;
  margin-left: -10px;
  margin-right: -10px;
}
.nav-tabs li {
  padding: 0 10px;
}
.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
  border-radius: 8px;
  behavior: url(/pie.php);
  -pie-poll: true;
  border: 2px solid #333333;
  height: 55px;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", Times, serif;
}
@media (max-width: 767px) {
  .nav-tabs li a,
  .nav-tabs li a:hover,
  .nav-tabs li a:focus {
    padding: 10px;
  }
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  border-radius: 8px 8px 0 0;
  behavior: url(/pie.php);
  -pie-poll: true;
  border: 2px solid #333333;
  border-bottom: none;
  height: 63px;
  color: #333333;
  background-color: #f0f0f0;
}
@media (max-width: 767px) {
  .nav-tabs li:first-child {
    padding-right: 3px;
  }
  .nav-tabs li:last-child {
    padding-left: 3px;
  }
}
.tab-content .tab-pane {
  border-radius: 8px;
  behavior: url(/pie.php);
  -pie-poll: true;
  border: 2px solid #333333;
  background-color: #f0f0f0;
  padding: 20px 28px;
}
.tab-content .tab-pane:first-child {
  border-radius: 0 8px 8px 8px;
  behavior: url(/pie.php);
  -pie-poll: true;
}
@media (max-width: 767px) {
  .tab-content .tab-pane {
    padding: 20px 10px;
  }
}
/*# sourceMappingURL=bootstrap.css.map */