.h2, h2{
    font-size:3.6rem;
    color:#3a3a3a;
}
.h1, .h2, h1, h2{
    font-family:Montserrat,Times,serif;
    font-weight:700;
}
table.data-table td{
font-size:2rem;
color:#000;
}
table.data-table th{
color:#000;
}
/* .product-step-box{
padding:1 20px 24px;
margin: 0px 80px 0px 80px;
} */
.container{
width:100%;
}
.container, .container-fluid{
padding-left:10px;
padding-right:10px;
}
.container, .container-fluid{
margin-left:auto;
margin-right:auto;
}
.btn{
border-radius:7px;
cursor:pointer;
display:inline-block;
font-weight:700;
}
/* abir */
.width_img_choix{
width:100%;
}
.margin_select_model{
margin-top: -92px;
}

/* fin abir */
.btn.next{
color:#fff;
}
.no-slider{background:url(/website_sale_4cotes_cogen/static/src/media/images/bg-products.jpg) center top no-repeat #f0f0f0;

}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin input{
font-size:1.6rem;
height:44px;
text-align:center;
}
.no-slider{
background: url("/website_sale_4cotes_cogen/static/src/media/images/bg-products.jpg") no-repeat scroll center top #f0f0f0;
}

.title-bar{
    background-image: url(/website_4cotes_theme/static/src/media/images/bg-title.jpg) !important;
}
