,
*:after,
*:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}




.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
.fullSizeOfParent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#measurePreview_length{
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -25px;
}

.measurePreview
{
    position: absolute;
}



.measurePreview .measurePreviewVal{
    display: inline-block;
    position: relative;
}

.measurePreview .measurePreviewValWrapper{
    text-align: left;
    overflow: hidden;
}

.measurePreview .measurePreviewLine{
    position: absolute;
    bottom: 0;
    width: 385px;
    height: 3px;
}

#measurePreview_width {
    height: 181px;
    margin: 0 33px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}



#measurePreview_width .measurePreviewValWrapper{
    position: relative;
    width: 253px;
    height: 16px;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
         -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.js_table_sides {
    margin-right: 21px;
}

#measurePreview_length .measurePreviewLine{
    height: 12px;
}

.measurePreview .endLine{
    position: absolute;
    bottom: 0;
    height: 16px;
}

#measurePreview_width .endLine{
    height: 14px;
    bottom:3px;
}

#bandeDeChant{
    height: 100%;
    position: relative;
    width: 100%;
}

#measurements .imperialOnly,
#measurements .metricOnly,
#selection_grain,
#bandeDeChant
{
    margin-bottom: 25px;
}

.bandeChant{
    position: absolute;
}

.bandeChant button{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding: 0;
}

#bandeChant_top,
#bandeChant_bottom
{
    width: 100%;
    height: 31px;
    padding: 0 30px;
    left: 0;
}

#bandeChant_left,
#bandeChant_right
{
    height: 100%;
    width: 31px;
    padding: 30px 0;
    top: 0;
}

#bandeChant_top{
    top: 0;
}

#bandeChant_bottom{
    bottom: 0;
}

#bandeChant_left{
    left: 0;
}

#bandeChant_right{
    right: 0;
}

#grainEtBandesDeChant.noBandeChant h3,
#grainEtBandesDeChant.noBandeChant p,
#grainEtBandesDeChant.noBandeChant .bandeChant button,
footer.noBandeChant .bandeDeChants
{
    display: none;
}

#bandeDeChant.showBorder_top .borderOverBg
{
    border-top-color: #ea911d;
}

#bandeDeChant.showBorder_bottom .borderOverBg
{
    border-bottom-color: #ea911d;
}

#bandeDeChant.showBorder_left .borderOverBg
{
    border-left-color: #ea911d;
}

#bandeDeChant.showBorder_right .borderOverBg
{
    border-right-color: #ea911d;
}
.borderOverBg
{
    -webkit-transition: border 0.2s ease-out;
       -moz-transition: border 0.2s ease-out;
        -ms-transition: border 0.2s ease-out;
         -o-transition: border 0.2s ease-out;
            transition: border 0.2s ease-out;
}

#product_colour_swatches .swatch.selected .borderOverBg
{
    border: solid #ea911d 5px;
}
.grain.selected .borderOverBg{
    border: solid #ea911d 5px;
}
#page-confirmation .bandeChantApercu.bandeChant_top{
    border-top-color: #ea911d;
}

#page-confirmation .bandeChantApercu.bandeChant_bottom{
    border-bottom-color: #ea911d;
}

#page-confirmation .bandeChantApercu.bandeChant_left{
    border-left-color: #ea911d;
}

#page-confirmation .bandeChantApercu.bandeChant_right{
    border-right-color: #ea911d;
}
.bandeChant.selected button{
    border: none;
}

.bandeChant.selected{
    border-color: #ea911d;
}
#measurePreview_length .measurePreviewLine{
    border-top: solid #c9b598 2px;
}

#measurePreview_width .measurePreviewLine{
    border-top: solid #c9b598 2px;
}

.measurePreview .endLine{
    border-right: solid #c9b598 2px;
}

.measurePreview .measurePreviewVal{
    color: #c9b598;
}
#page-confirmation .bandeChantApercu{
    border: solid transparent 3px;
    display: inline-block;
}

/* Measurements */


#bandeDeChant .borderOverBg{
    border: solid transparent 30px;
}

#grainEtBandesDeChant p{
    text-align: left;
    color: #6c5b47;
    line-height: 17px;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}


.bandeChant button{
    border: dashed #ea911d 2px;
}

.bandeChant_span_top {
    background: none repeat scroll 0 0 #fff;
    color: #CC2229;
    font-weight: bold;
    left: 44%;
    min-height: 30px;
    min-width: 30px;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -43%;
    border-radius: 20px;
    font-size: 18px;
}

.bandeChant_span_left {
   
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
         -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
   background: none repeat scroll 0 0 #fff;
    color: #CC2229;
    font-weight: bold;
    left: 50%;
    min-height: 30px;
    min-width: 30px;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 45%;
    border-radius: 20px;
    font-size: 18px;
   
}

.bandeChant_span_right {
    
    
     background: none repeat scroll 0 0 #fff;
    color: #CC2229;
    font-weight: bold;
    left: 54%;
    min-height: 30px;
    min-width: 30px;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 45%;
    border-radius: 20px;
    font-size: 18px;
    
}
.bandeChant_span_bottom {
     background: none repeat scroll 0 0 #fff;
    color: #CC2229;
    font-weight: bold;
    left: 42%;
    min-height: 30px;
    min-width: 30px;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 41%;
    border-radius: 20px;
    font-size: 18px;
}

.measurePreviewLength {
    background-color: white;
    color: black;
    display: initial;
    height: 30px;
    position: absolute;
    right: 36%;
    padding: 5px;
    text-align: center;
    top: 30px;
    width: 78px;
}
*::before, *::after {
    box-sizing: border-box;
}
.measurePreviewWidth {
    background-color: white;
     color: black;
    height: 30px;
    padding: 5px;
    left: 30px;
    position: absolute;
    text-align: center;
    top: 124px;
    width: 78px;
}


