
@media (max-width: 761px){
.css_editable_mode_hidden{
    margin-top:31%
}
}

.icon-cart-badge{
    color: #FF8000;
    font-size: 130%;

}

.msg_alert {
    color: #ff0000;
}

.product-step-box .doors li p span {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 14px;
}
#bloc_options_variants{
    display: none;
}

#js_basic_characteristics_values {
    margin-left: 0px !important;
}

.title-bar .banner {
  bottom: 0px !important;
 
}

.css_typ{
	float:left;
}
i{
    color: #000;
}
 .bootstrap-select{
    width: 100% !important;
    
}
.btn-group{
    width: 100% !important;
    
}
.type-select{
    width: 100%;height: 69px!important;
    background-color:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left:25px!important;
    background: transparent url('/website_sale_4cotes_cogen/static/src/img/icon/select.png') no-repeat right !important;

}

.js_selling_options{
 background-color: #f0f0f0;
 padding:0px;
 }   

.attribute-19{
    border-radius: 8px;
    color: #000;
    height: 65px;
    margin-left: 700px;
    padding-left: 5px;
    padding-right: 5px;
    width: 386px;
    margin-top: -100px;
}
.js_material_type, .material_type-select{
margin-bottom: 21px;
width: 386px;
}
.bc_value_essence_color_img{
width: 379px;
 height: 179px;
}




.js_quantity-product{
	border-radius:8px !important;
	height:58px !important;
	width:80px !important;
	height:58px !important;
}
.product-step-box .spinner-box .bootstrap-touchspin {
    display: inline-block;
    padding: 0 49px;
    position: relative;
    vertical-align: middle;
    width: 180px;
}


.js_selling_options{
 background-color: #f0f0f0;
 padding:0px;
 }
 .js_add_cart_json{
	color:#333;
	text-align: center;
	font-size: 1rem;
	vertical-align:middle;
	width: 36px;
	height: 36px;
	background-color: #ff9d00;
	overflow: hidden;
	cursor: pointer;
	border: none;
	color:#000;
	padding:13px 13px;
 }
 .js_quantity{
	 border-radius:8px;
	 height:58px;
	 width:100%;
	 border: 2px solid #333;
	 box-shadow: none;
	 font-weight: 400;
	 margin-left:0px;
	 margin-right:0px;
	 color:#333;
 }
 .js_final_price_display{
	 border-radius:8px;
	 margin-right:0px;
	 height:58px;
	 color:#000;
 }
 .js_top_side, .js_left_side, .js_bottom_side, .js_right_side {
 border-radius:8px;
 width:100%;
height:58px;
background-color:transparent;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: transparent url('/website_sale_4cotes_cogen/static/src/img/icon/select.png') no-repeat right;
 }

.material_type-select{
    width: 100%;height: 65px;
    border-radius:8px;
    color:#000;
    background-color:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left:5px;
    padding-right:5px;
    background: transparent url('/website_sale_4cotes_cogen/static/src/img/icon/select.png') no-repeat right !important;
    border:2px solid black;
    margin-left: 20px;
}
/*Akrem BOUSSAHA*/

div.oe_login_buttons > a:nth-child(2) {
    margin-top: 15px;
    margin-right: 40px;
}
div.oe_login_buttons > a[href="/web/login"] {
    margin-right: 13px;
}
div.oe_login_buttons > button.pull-left {
    margin-left: 110px;
    margin-top: 15px;
}

@media all and (min-width: 600px) and (max-width: 767px){
    .quantitePlusMoins{
        width: 174.32px;
        margin-left: auto;
        margin-right: auto;
    }
    .champQuantite{
        display: block;
        float: left;
        vertical-align: text-top;
    }
    .plusButton{
        display: block;
        float: left;    
         margin-top: 10px;   
    }
    .moinsButton{
        display: block;
        float: left;
        margin-top: 10px;
    }
}
@media all and (min-width: 568px) and (max-width: 599px){
    .quantitePlusMoins{
        width: 174.32px;
        margin-left: auto;
        margin-right: auto;
    }
    .champQuantite{
        display: block;
        float: left;
        vertical-align: text-top;
    }
    .plusButton{
        display: block;
        float: left;    
         margin-top: 10px;   
    }
    .moinsButton{
        display: block;
        float: left;
        margin-top: 10px;
    }
}

@media all and (min-width: 480px) and (max-width: 567px){
    .quantitePlusMoins{
        width: 174.32px;
        margin-left: auto;
        margin-right: auto;
    }
    .champQuantite{
        display: block;
        float: left;
        vertical-align: text-top;
    }
    .plusButton{
        display: block;
        float: left;    
         margin-top: 10px;   
    }
    .moinsButton{
        display: block;
        float: left;
        margin-top: 10px;
    }
}

@media all and (min-width: 300px) and (max-width: 479px){
    .quantitePlusMoins{
        width: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    .champQuantite{
        display: block;
        float: left;
        vertical-align: text-top;
        
    }
    .plusButton{
        display: block;
        float: left;    
         margin-top: 10px;
          
    }
    .moinsButton{
        display: block;
        float: left;
        margin-top: 10px;
    }
}

@media all and (min-width: 240px) and (max-width: 299px){
    .quantitePlusMoins{
        width: 174.32px;
        margin-left: auto;
        margin-right: auto;
    }
    .champQuantite{
        display: block;
        float: left;
        vertical-align: text-top;
    }
    .plusButton{
        display: block;
        float: left;    
         margin-top: 10px;   
    }
    .moinsButton{
        display: block;
        float: left;
        margin-top: 10px;
    }
}

@media all and (min-width: 500px) and (max-width: 767px){
    .spinner-boxPanier{
        display: inline-block !important;
        vertical-align: middle !important;
        width: 155px !important;
    }
    .champQuantiteInputPanier{
        display: inline-block !important;
    }
    .moinsButtonPanier{
        display: inline-block;
        vertical-align: middle;
    }
    .champQuantitePanier{
        display: inline-block;
        vertical-align: text-top;
        margin-top: 16px;
        width: 45.063px !important;
    }
    .plusButtonPanier{
        margin-top: 3px;
    }
}

 @media all and (min-width: 240px) and (max-width: 767px){
    .quantiteMateriaux{
        width: 174.32px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .champQuantiteMateriaux{
        display: block !important;
        float: left !important;
        vertical-align: text-top !important;
        margin-left: 35px;
        margin-top: -47px;
    }
    .plusButtonMateriaux{
        display: block !important;
        float: left !important; 
        margin-left: 10px;
        margin-top: -35px;   
    }
    .moinsButtonMateriaux{
        display: block !important;
        float: left !important;
       /* margin-top: 10px;*/
    }
    .btnCalcul{
        width: 235px !important;
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (min-width: 599px) and (max-width: 600px){
    .btnCalcul{
        width: 235px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  #oe_editzone{
    display: none ! important;
  }
  #oe_systray > *{
    display: none;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px){
    li.hardware > a:first-child{
     height: 65px; 
     
    }
}

.nav-tabs>li.active>a{
    color: #000 !important;
    border: 2px solid #000 !important;
    margin-top: 0.5px;
    border-bottom: none !important;

}

.nav-tabs>li>a[id=a_metrique]{
    border: 2px solid black !important;
    border-radius: 8px;
    background-color : #f0f0f0 !important;
}
.nav-tabs>li>a[id=a_imperial]{
    border: 2px solid black !important;
    border-radius: 8px;
    background-color : #f0f0f0 !important;
}
.nav-tabs>li>a{
    background-color : #f0f0f0 !important;
}

.nav-tabs>li{
    margin-top: 1px !important;
    border-bottom: none !important;
}

/*END Akrem BOUSSAHA*/
