.cart-step-box {
  background-color: #FFFFFF;
  padding: 20px 24px;
  margin-bottom: 20px;
}
.cart-step-box .col-sm-6 {
  text-align: center;
}
.cart-step-box .col-sm-6 label {
  display: block;
}
.cart-step-box h1,
.cart-step-box h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 400;
  padding: 13px 0 19px 85px;
  border-bottom: 2px solid #d2d2d2;
  margin-bottom: 25px;
}
.cart-step-box h1 .step-number,
.cart-step-box h2 .step-number {
  float: left;
  margin: -13px 0 0 -85px;
}
@media (max-width: 767px) {
  .cart-step-box h1 .step-number,
  .cart-step-box h2 .step-number {
    margin: -10px 0 0 -50px;
  }
}
.cart-step-box h1:after,
.cart-step-box h2:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 767px) {
  .cart-step-box h1,
  .cart-step-box h2 {
    font-size: 20px;
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 10px;
  }
}
.cart-step-box h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.cart-step-box .max-box {
  max-width: 470px;
  text-align: left;
}
.cart-step-box .max-box.right {
  float: right;
  width: 100%;
}
.cart-step-box .max-box.center {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  max-width: 380px;
  width: 100%;
}
.cart-step-box .max-box.center h3 {
  text-align: left;
}
@media (max-width: 1199px) {
  .cart-step-box .max-box.center {
    width: 100%;
  }
}
.cart-step-box .max-box.large {
  max-width: 961px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  .cart-step-box .max-box {
    max-width: none;
  }
  .cart-step-box .max-box.right {
    float: none;
  }
  .cart-step-box .max-box.center {
    display: block;
  }
}
.cart-step-box .single-field {
  margin-bottom: 34px;
}
.cart-step-box .essences {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  padding: 0;
}
.cart-step-box .essences li {
  display: inline-block;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.cart-step-box .essences li input {
  display: none;
}
.cart-step-box .essences li label {
  display: block;
  margin: 0;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
}
.cart-step-box .essences li label img {
  width: 100%;
}
.cart-step-box .essences li label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #e16d2c;
  display: none;
}
.cart-step-box .essences li label.active:after {
  display: block;
}
@media (max-width: 767px) {
  .cart-step-box .essences li {
    width: 33.3333333333%;
  }
}
.cart-step-box .col-lg-5 {
  margin-bottom: 40px;
}
.cart-step-box .col-lg-5 label {
  display: block;
}
.cart-step-box .doors {
  margin: 0 -20px;
  padding: 0;
  font-size: 0;
}
.cart-step-box .doors li {
  padding: 0 20px;
  list-style: none outside none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  width: 20%;
}
.cart-step-box .doors li label {
  cursor: pointer;
  margin: 0;
}
.cart-step-box .doors li label input {
  display: none;
}
.cart-step-box .doors li label div {
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
}
.cart-step-box .doors li label div:after {
  content: '';
  display: none;
  border: 5px solid #ff9d00;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cart-step-box .doors li label span {
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin-top: 14px;
}
.cart-step-box .doors li label.active div:after {
  display: block;
}
@media (max-width: 991px) {
  .cart-step-box .doors li {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .cart-step-box .doors li {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .cart-step-box .doors {
    margin: 0 -10px;
  }
}
.cart-step-box .your-choice img {
  display: block;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
  margin: 0 auto 20px auto;
}
.cart-step-box .your-choice p {
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.cart-step-box .your-choice.door {
  text-align: left;
}
.cart-step-box .your-choice.door img {
  margin: 0 0 40px 0;
}
.cart-step-box .thickness-list {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  /*text-align: center;*/
  text-align: left;
}
.cart-step-box .thickness-list li {
  display: inline-block;
  width: 11.11111111%;
  padding: 0 10px;
  vertical-align: bottom;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.cart-step-box .thickness-list li label {
  display: block;
  padding-top: 30px;
  text-align: center;
  cursor: pointer;
}
.cart-step-box .thickness-list li label input {
  display: none;
}
.cart-step-box .thickness-list li label .indicator {
  width: 100%;
  height: 0.125in;
  background-color: #bcbcbc;
  -webkit-box-shadow: 2px 2px 2px #7f7f7f;
  box-shadow: 2px 2px 2px #7f7f7f;
  position: relative;
}
.cart-step-box .thickness-list li label .indicator.inch-1-8 {
  height: 0.125in;
}
.cart-step-box .thickness-list li label .indicator.inch-1-4 {
  height: 0.25in;
}
.cart-step-box .thickness-list li label .indicator.inch-3-8 {
  height: 0.375in;
}
.cart-step-box .thickness-list li label .indicator.inch-1-2 {
  height: 0.5in;
}
.cart-step-box .thickness-list li label .indicator.inch-5-8 {
  height: 0.625in;
}
.cart-step-box .thickness-list li label .indicator.inch-11-16 {
  height: 0.6875in;
}
.cart-step-box .thickness-list li label .indicator.inch-3-4 {
  height: 0.75in;
}
.cart-step-box .thickness-list li label .indicator.inch-1 {
  height: 1in;
}
.cart-step-box .thickness-list li label .indicator.inch-1-1-8 {
  height: 1.125in;
}
.cart-step-box .thickness-list li label .indicator.inch-1-1-4 {
  height: 1.25in;
}

.cart-step-box .thickness-list li label .indicator:after {
  content: '';
  display: none;
  width: 1px;
  height: 1px;
  border: 15px solid transparent;
  border-top-color: #e16d2c;
  position: absolute;
  bottom: 100%;
  left: -9999px;
  right: -9999px;
  margin: 0 auto -4px auto;
}
.cart-step-box .thickness-list li label span {
  display: block;
  padding-top: 10px;
}
.cart-step-box .thickness-list li label:hover .indicator:after {
  display: block;
}
.cart-step-box .thickness-list li label.active .indicator {
  background-color: #e16d2c;
}
.cart-step-box .thickness-list li label.active .indicator:after {
  display: block;
}
.cart-step-box .unit {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", Times, serif;
  text-transform: uppercase;
  padding-top: 17px;
}
.cart-step-box .x-sign {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 44px;
  font-size: 4.4rem;
  font-family: "Montserrat", Times, serif;
  padding-top: 49px;
  text-transform: uppercase;
  line-height: 1em;
}
@media (max-width: 991px) {
  .cart-step-box .x-sign {
    padding-top: 0;
  }
}
.cart-step-box .max-value p {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Montserrat", Times, serif;
  font-style: italic;
}
.cart-step-box .tip-box {
  background-color: #ff9d00;
  padding: 23px 25px;
  margin-top: 61px;
}
.cart-step-box .tip-box h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 0;
}
.cart-step-box .tip-box p {
  font-size: 16px;
  font-size: 1.6rem;
}
@media (max-width: 991px) {
  .cart-step-box .tip-box {
    margin-top: 20px;
  }
}
.cart-step-box .col-xs-4 input,
.cart-step-box .col-xs-6 input,
.cart-step-box .col-xs-8 input {
  text-align: center;
}
.cart-step-box .edge-selection {
  padding: 0;
  max-width: 417px;
  margin-bottom: 35px;
}
.cart-step-box .edge-selection > li {
  list-style: none outside none;
  margin-bottom: 10px;
}
.cart-step-box .edge-selection > li label {
  display: block;
  width: 100%;
  padding: 0 0 0 38px;
}
.cart-step-box .edge-selection > li label .visible {
  float: left;
  margin-left: -38px;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
  font-weight: 700;
  line-height: 58px;
  width: 22px;
  text-align: center;
}
.cart-step-box .edge-box {
  position: relative;
  height: 285px;
  padding: 33px;
  margin-bottom: 20px;
}
.cart-step-box .edge-box .cardinal-point {
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1em;
  text-align: center;
  font-family: "Montserrat", Times, serif;
}
.cart-step-box .edge-box .cardinal-point.south {
  top: auto;
  bottom: 0;
}
.cart-step-box .edge-box .cardinal-point.east {
  top: -9999px;
  bottom: -9999px;
  left: auto;
  right: 0;
}
.cart-step-box .edge-box .cardinal-point.west {
  top: -9999px;
  bottom: -9999px;
  left: 0;
  right: auto;
}
.cart-step-box .edge-box .edge-border-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 32px solid transparent;
  z-index: 3;
}
.cart-step-box .edge-box .border-box {
  border: 2px dashed #ff9d00;
  width: 100%;
  height: 100%;
  padding: 32px;
  position: relative;
}
.cart-step-box .edge-box .border-box.inner {
  padding: 0;
}
.cart-step-box .edge-box .border-box .corners {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}
.cart-step-box .edge-box .border-box .corners.top,
.cart-step-box .edge-box .border-box .corners.bottom {
  width: 100%;
  height: 32px;
}
.cart-step-box .edge-box .border-box .corners.top:before,
.cart-step-box .edge-box .border-box .corners.bottom:before {
  position: absolute;
  top: 0;
  left: 1px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll left -41px;
}
.cart-step-box .edge-box .border-box .corners.top:after,
.cart-step-box .edge-box .border-box .corners.bottom:after {
  position: absolute;
  top: 0;
  right: 1px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px 0;
}
.cart-step-box .edge-box .border-box .corners.bottom {
  top: auto;
  bottom: 0;
}
.cart-step-box .edge-box .border-box .corners.bottom:before {
  background-position: -6px 0;
}
.cart-step-box .edge-box .border-box .corners.bottom:after {
  background-position: left -41px;
}
.cart-step-box .edge-box .border-box .corners.left,
.cart-step-box .edge-box .border-box .corners.right {
  width: 32px;
  height: 100%;
}
.cart-step-box .edge-box .border-box .corners.left:before,
.cart-step-box .edge-box .border-box .corners.right:before {
  position: absolute;
  top: 1px;
  left: 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px -46px;
}
.cart-step-box .edge-box .border-box .corners.left:after,
.cart-step-box .edge-box .border-box .corners.right:after {
  position: absolute;
  bottom: 1px;
  right: 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../media/images/sprite-diagonals.png) no-repeat scroll 0 -6px;
}
.cart-step-box .edge-box .border-box .corners.right {
  left: auto;
  right: 0;
}
.cart-step-box .edge-box .border-box .corners.right:before {
  background-position: 0 -6px;
}
.cart-step-box .edge-box .border-box .corners.right:after {
  background-position: -6px -47px;
}
.cart-step-box .edge-box .border-box .info-box {
  border: 5px solid #3a3a3a;
  background-color: #f0f0f0;
  height: 100%;
  position: relative;
}
.cart-step-box .edge-box .border-box .info-box .length-box {
  display: inline-block;
  padding: 12px 0;
  background-color: #ff9d00;
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: 0 auto;
  width: 108px;
  height: 53px;
  font-family: "Montserrat", Times, serif;
}
.cart-step-box .edge-box .border-box .info-box .length-box.left {
  left: 0;
  right: auto;
  top: 44%;
  margin: auto 0;
}
.cart-step-box .edge-box.full-top .edge-border-box {
  border-top-color: #d23e2a;
}
.cart-step-box .edge-box.full-top .border-box {
  border-top-style: solid;
}
.cart-step-box .edge-box.full-top .corners.top:before {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: -2px;
  left: -1px;
}
.cart-step-box .edge-box.full-top .corners.top:after {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: -2px;
  right: -1px;
}
.cart-step-box .edge-box.full-bottom .edge-border-box {
  border-bottom-color: #d23e2a;
}
.cart-step-box .edge-box.full-bottom .border-box {
  border-bottom-style: solid;
}
.cart-step-box .edge-box.full-bottom .corners.bottom:before {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -2px;
  left: -1px;
}
.cart-step-box .edge-box.full-bottom .corners.bottom:after {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -2px;
  right: -1px;
}
.cart-step-box .edge-box.full-left .edge-border-box {
  border-left-color: #d23e2a;
}
.cart-step-box .edge-box.full-left .border-box {
  border-left-style: solid;
}
.cart-step-box .edge-box.full-left .corners.left:before {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: -1px;
  left: -2px;
}
.cart-step-box .edge-box.full-left .corners.left:after {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -1px;
  right: -2px;
}
.cart-step-box .edge-box.full-right .edge-border-box {
  border-right-color: #d23e2a;
}
.cart-step-box .edge-box.full-right .border-box {
  border-right-style: solid;
}
.cart-step-box .edge-box.full-right .corners.right:before {
  background-position: right -81px;
  width: 36px;
  height: 36px;
  top: -1px;
  left: -2px;
}
.cart-step-box .edge-box.full-right .corners.right:after {
  background-position: left -151px;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: -1px;
  right: -2px;
}
@media (max-width: 767px) {
  .cart-step-box .edge-box {
    margin: 0 -20px 20px -20px;
  }
}
.cart-step-box .notice {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", Times, serif;
}
.cart-step-box .spinner-box label {
  display: block;
  margin-bottom: 0;
}
.cart-step-box .spinner-box label > span {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  width: 32%;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", Times, serif;
}
@media (max-width: 767px) {
  .cart-step-box .spinner-box label > span {
    display: block;
    margin-bottom: 20px;
    width: auto;
  }
}
.cart-step-box .spinner-box .bootstrap-touchspin {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding: 0 49px;
  position: relative;
}
.cart-step-box .spinner-box .bootstrap-touchspin span {
  display: none;
}
.cart-step-box .spinner-box .bootstrap-touchspin span.input-group-btn {
  display: block;
}
.cart-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  right: 0;
}
.cart-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.cart-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  left: 0;
}
.cart-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.cart-step-box .spinner-box .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '-';
  line-height: 36px;
}
.cart-step-box .spinner-box input {
  text-align: center;
}
.cart-step-box .spinner-box .col-sm-4 {
  text-align: center;
}
@media (max-width: 767px) {
  .cart-step-box .spinner-box {
    text-align: center;
  }
}
.cart-step-box.detail {
  padding: 33px 24px;
}
.cart-step-box.detail .col-sm-5 {
  text-align: center;
  position: relative;
  padding-right: 22px;
}
.cart-step-box.detail .col-sm-5 img {
  display: block;
  margin: 0 auto 7px auto;
}
.cart-step-box.detail .col-sm-5:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  border-right: 2px solid #e4e4e4;
}
@media (max-width: 767px) {
  .cart-step-box.detail .col-sm-5 {
    margin-bottom: 30px;
    padding-right: 10px;
  }
  .cart-step-box.detail .col-sm-5:after {
    content: none;
  }
}
.cart-step-box.detail .col-sm-7 {
  padding-left: 96px;
}
.cart-step-box.detail .col-sm-7 h2 {
  padding: 10px 0 0 0;
  border: none;
  font-weight: bold;
}
.cart-step-box.detail .col-sm-7 h3 {
  margin: 0;
  text-transform: none;
  font-size: 19px;
  font-size: 1.9rem;
}
.cart-step-box.detail .col-sm-7 p,
.cart-step-box.detail .col-sm-7 p:last-child {
  margin: 0 0 22px 0;
  font-family: "Montserrat", Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.cart-step-box.detail .col-sm-7 .row {
  font-size: 0;
}
.cart-step-box.detail .col-sm-7 .row .col-sm-6 {
  text-align: left;
  float: none;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767px) {
  .cart-step-box.detail .col-sm-7 .row .col-sm-6 {
    display: block;
  }
}
.cart-step-box.detail .col-sm-7 form {
  padding-top: 29px;
}
@media (max-width: 991px) {
  .cart-step-box.detail .col-sm-7 .col-md-6 {
    margin-bottom: 30px;
  }
  .cart-step-box.detail .col-sm-7 .col-md-6:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart-step-box.detail .col-sm-7 {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .cart-step-box.detail .col-sm-7 {
    padding-left: 10px;
  }
}
.cart-step-box.title-no-border h1,
.cart-step-box.title-no-border h2 {
  border: none;
  padding: 0;
  margin: 0 0 21px 0;
}
.cart-step-box.title-no-border .row {
  font-size: 0;
}
.cart-step-box.title-no-border .row .col-sm-8,
.cart-step-box.title-no-border .row .col-sm-4 {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.cart-step-box.title-no-border .row .col-sm-8 p,
.cart-step-box.title-no-border .row .col-sm-4 p,
.cart-step-box.title-no-border .row .col-sm-8 p:last-child,
.cart-step-box.title-no-border .row .col-sm-4 p:last-child {
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .cart-step-box.title-no-border .row .col-sm-8,
  .cart-step-box.title-no-border .row .col-sm-4 {
    display: block;
  }
}
.cart-step-box .full-width {
  margin: 0 -24px -20px -24px;
}
.cart-step-box .full-width table {
  width: 100%;
}
@media (max-width: 767px) {
  .cart-step-box .tab-pane .col-md-5 > .row,
  .cart-step-box .tab-pane .col-md-3 > .row {
    margin: 0 -5px;
  }
  .cart-step-box .col-xs-2,
  .cart-step-box .col-xs-4,
  .cart-step-box .col-xs-6,
  .cart-step-box .col-xs-8 {
    padding: 0 5px;
  }
}
.cart-step-box:after {
  content: '';
  display: block;
  clear: both;
}
form > .cart-step-box {
  margin-top: 40px;
}
.cart-step-box > fieldset {
  margin-bottom: 11px;
}
.cart-step-box h1.no-border {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 21px;
}
.cart-step-box h1 .icon {
  display: inline-block;
}
.cart-step-box h1 .icon.truck {
  max-width: 62px;
  margin-top: -10px;
  margin-left: 23px;
}
@media (max-width: 767px) {
  .cart-step-box h1 .icon.truck {
    display: none;
  }
}
.cart-step-box h2 {
  border: none;
  margin: 0 0 9px 0;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
  font-weight: 700;
  background-color: #e4e4e4;
  padding: 2px 8px;
}
@media (max-width: 767px) {
  .cart-step-box h2 {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.cart-step-box .cart-product {
  font-size: 0;
  padding-left: 118px;
  margin-bottom: 8px;
}
.cart-step-box .cart-product .image {
  display: inline-block;
  vertical-align: middle;
  width: 118px;
  float: left;
  margin-left: -118px;
  padding-right: 36px;
}
.cart-step-box .cart-product .image img {
  border: 1px solid #e7e7e7;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .image {
    margin: 0 auto 20px auto;
    display: block;
    padding: 0;
    width: 82px;
    float: none;
  }
}
.cart-step-box .cart-product .caracteristics-group {
  display: inline-block;
  vertical-align: top;
  width: 64.82558139534884%;
  min-height: 82px;
  border-right: 2px solid #e4e4e4;
}
.cart-step-box .cart-product .caracteristics-group > p {
  font-family: "Montserrat", Times, serif;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics-group > p {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics-group {
    display: inline-block;
    width: 100%;
    border: none;
  }
}
.cart-step-box .cart-product .caracteristics-group:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 82px;
  vertical-align: middle;
  margin: 0 0 0 -1px;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics-group:before {
    content: none;
  }
}
.cart-step-box .cart-product .caracteristics {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-right: 25px;
  margin-bottom: 15px;
}
.cart-step-box .cart-product .caracteristics:last-child {
  margin-right: 0;
}
.cart-step-box .cart-product .caracteristics h3 {
  padding: 0;
  margin: 12px 0 5px 0;
  background-color: transparent;
  font-weight: 400;
  color: #e16d2c;
  font-size: 12px;
  font-size: 1.2rem;
}
.cart-step-box .cart-product .caracteristics h3 .bold {
  font-weight: 700;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics h3 {
    margin: 0;
  }
}
.cart-step-box .cart-product .caracteristics .length,
.cart-step-box .cart-product .caracteristics .width {
  width: 150px;
  padding-right: 16px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.cart-step-box .cart-product .caracteristics .length .main,
.cart-step-box .cart-product .caracteristics .width .main,
.cart-step-box .cart-product .caracteristics .length .decimal,
.cart-step-box .cart-product .caracteristics .width .decimal {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.cart-step-box .cart-product .caracteristics .length .main,
.cart-step-box .cart-product .caracteristics .width .main {
  width: 50px;
}
.cart-step-box .cart-product .caracteristics .length .decimal,
.cart-step-box .cart-product .caracteristics .width .decimal {
  width: 60px;
}
.cart-step-box .cart-product .caracteristics .length.mm .main,
.cart-step-box .cart-product .caracteristics .width.mm .main {
  width: 122px;
}
.cart-step-box .cart-product .caracteristics .length .form-control,
.cart-step-box .cart-product .caracteristics .width .form-control {
  display: inline-block;
  height: 38px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25em;
  padding: 7px 2px;
  text-align: center;
}
.cart-step-box .cart-product .caracteristics .length .x-sign,
.cart-step-box .cart-product .caracteristics .width .x-sign,
.cart-step-box .cart-product .caracteristics .length abbr,
.cart-step-box .cart-product .caracteristics .width abbr {
  padding: 0;
  font-size: 17px;
  font-size: 1.7rem;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: center;
  margin-right: -16px;
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics .length,
  .cart-step-box .cart-product .caracteristics .width {
    margin-bottom: 10px;
  }
  .cart-step-box .cart-product .caracteristics .length:last-child,
  .cart-step-box .cart-product .caracteristics .width:last-child {
    margin-bottom: 0;
  }
}
.cart-step-box .cart-product .caracteristics .thickness {
  width: 70px;
}
.cart-step-box .cart-product .caracteristics .thickness .form-control {
  display: inline-block;
  height: 38px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25em;
  padding: 7px 2px;
  text-align: center;
}
.cart-step-box .cart-product .caracteristics .edge-band {
  height: 38px;
  padding-top: 6px;
  white-space: nowrap;
  margin-left: -6px;
}
.cart-step-box .cart-product .caracteristics .edge-band label {
  font-family: "Montserrat", Times, serif;
  font-size: 17px;
  font-size: 1.7rem;
  margin-right: 7px;
}
.cart-step-box .cart-product .caracteristics .edge-band label abbr {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .caracteristics {
    margin-bottom: 20px;
    margin-right: 0;
    display: block;
  }
}
.cart-step-box .cart-product .qty-price {
  display: inline-block;
  vertical-align: bottom;
  width: 35.17441860465116%;
}
.cart-step-box .cart-product .qty-price .qty {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.cart-step-box .cart-product .qty-price .qty .visible-xs-inline-block {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 5px 20px;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin {
  display: inline-block;
  width: 180px;
  padding: 0 49px;
  position: relative;
  padding: 0 36px;
  width: 137px;
  height: 44px;
  vertical-align: middle;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin span {
  display: none;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin span.input-group-btn {
  display: block;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  right: 0;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ff9d00;
  top: 11px;
  text-indent: -50000px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
  left: 0;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '+';
  color: #3a3a3a;
  display: block;
  width: 36px;
  line-height: 38px;
  text-indent: 0;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  content: '-';
  line-height: 36px;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin input {
  font-size: 16px;
  font-size: 1.6rem;
  height: 44px;
  text-align: center;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up,
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down {
  width: 29px;
  height: 29px;
  top: 8px;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up:after,
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down:after {
  width: 29px;
  line-height: 29px;
}
.cart-step-box .cart-product .qty-price .qty .bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up:after {
  line-height: 32px;
}
.cart-step-box .cart-product .qty-price .qty:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 82px;
  vertical-align: middle;
  margin: 0 0 0 -1px;
}
@media (max-width: 1199px) {
  .cart-step-box .cart-product .qty-price .qty {
    display: block;
    width: 100%;
    height: 80px;
    padding: 16px 0;
  }
  .cart-step-box .cart-product .qty-price .qty:before {
    content: none;
  }
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .qty-price .qty {
    height: auto;
  }
}
.cart-step-box .cart-product .qty-price .price {
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  padding-right: 35px;
  border-left: 2px solid #e4e4e4;
  min-height: 82px;
  padding-top: 24px;
}
.cart-step-box .cart-product .qty-price .price p {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", Times, serif;
  font-size: 25px;
  font-size: 2.5rem;
  margin: 0;
}
.cart-step-box .cart-product .qty-price .price .btn-trash {
  float: right;
  margin: 0 -35px 0 0;
  border-radius: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-color: #ff9d00;
}
.cart-step-box .cart-product .qty-price .price .btn-trash:after {
  content: "\e923";
  font-family: "edith", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 33px;
  width: 35px;
  text-align: center;
}
@media (max-width: 1199px) {
  .cart-step-box .cart-product .qty-price .price {
    border-left: none;
    border-top: 2px solid #e4e4e4;
    display: block;
    width: 100%;
    padding: 20px 35px 20px 0;
  }
}
@media (max-width: 767px) {
  .cart-step-box .cart-product .qty-price {
    width: 100%;
    display: block;
  }
}
@media (max-width: 767px) {
  .cart-step-box .cart-product {
    padding-left: 0;
    padding-top: 15px;
  }
}
.cart-step-box .notice-cart {
  color: #ff9d00;
  font-family: "Montserrat", Times, serif;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  max-width: 1035px;
  margin: 0 auto;
  padding-top: 20px;
}
.cart-step-box .notice-cart a {
  text-decoration: underline;
}
.cart-step-box fieldset.max-box {
  max-width: 981px;
  margin: 0 auto 17px auto;
}
.cart-step-box fieldset.max-box legend {
  font-size: 16px;
  font-size: 1.6rem;
  color: #e16d2c;
  padding: 0;
  background: transparent none;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
  border: none;
  font-family: "Montserrat", Times, serif;
  margin: 0 0 21px 0;
}
.cart-step-box fieldset.max-box .col-sm-4,
.cart-step-box fieldset.max-box .col-sm-6,
.cart-step-box fieldset.max-box .col-sm-12 {
  margin-bottom: 14px;
}
.cart-step-box fieldset.max-box .other-adress-form {
  display: none;
}
.cart-step-box h2.small {
  font-size: 16px;
  font-size: 1.6rem;
  color: #e16d2c;
  padding: 0;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: normal;
  margin: 0 0 23px 0;
}
.cart-step-box h3.big {
  color: #e16d2c;
  text-transform: none;
  font-size: 25px;
  font-size: 2.5rem;
  margin: 0;
  font-weight: 400;
}
.cart-step-box p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.533333333333333em;
  font-family: "Montserrat", Times, serif;
}
.cart-step-box p.big {
  font-size: 20px;
  font-size: 2rem;
}
.cart-step-box > .max-box.large .big {
  text-align: center;
}
.cart-step-box .btn .paypal {
  display: block;
  margin: -2px auto -4px auto;
  width: 96px;
  height: 26px;
  position: relative;
  text-indent: -50000px;
  overflow: hidden;
}
.cart-step-box .btn .paypal:before,
.cart-step-box .btn .paypal:after {
  content: '';
  display: block;
  width: 96px;
  height: 26px;
  background: transparent url(../media/images/sprite-payment.png) no-repeat scroll 0 0;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.cart-step-box .btn .paypal:after {
  opacity: 0;
  background-position: -101px 0;
}
.ie8 .cart-step-box .btn .paypal:after {
  display: none;
}
.cart-step-box .btn .wiretransfer {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  padding: 0 0 0 52px;
}
.cart-step-box .btn .wiretransfer:before,
.cart-step-box .btn .wiretransfer:after {
  content: '';
  display: block;
  width: 38px;
  height: 27px;
  background: transparent url(../media/images/sprite-payment.png) no-repeat scroll 0 -33px;
  position: absolute;
  left: 0;
  top: -5px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.cart-step-box .btn .wiretransfer:after {
  opacity: 0;
  background-position: -43px -33px;
}
.ie8 .cart-step-box .btn .wiretransfer:after {
  display: none;
}
.cart-step-box .btn:hover .paypal:before,
.cart-step-box .btn:hover .wiretransfer:before {
  opacity: 0;
}
.ie8 .cart-step-box .btn:hover .paypal:before,
.ie8 .cart-step-box .btn:hover .wiretransfer:before {
  display: none;
}
.cart-step-box .btn:hover .paypal:after,
.cart-step-box .btn:hover .wiretransfer:after {
  opacity: 1;
}
.ie8 .cart-step-box .btn:hover .paypal:after,
.ie8 .cart-step-box .btn:hover .wiretransfer:after {
  display: block;
}
.cart-step-box .or-box {
  display: block;
  padding: 16px 0;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
}
.cart-step-box > .row > .col-sm-6 {
  margin-bottom: 40px;
  padding: 20px 64px;
}
.cart-step-box > .row > .col-sm-6:first-child:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  border-right: 2px solid #e4e4e4;
  position: absolute;
  right: 0;
  margin-right: -1px;
  top: 0;
}
@media (max-width: 767px) {
  .cart-step-box > .row > .col-sm-6:first-child:after {
    content: none;
  }
}
@media (max-width: 991px) {
  .cart-step-box > .row > .col-sm-6 {
    padding: 20px 10px;
  }
}
.cart-nav {
  margin-left: -10px;
  margin-right: -10px;
  text-align: right;
  font-size: 0;
  margin-bottom: 20px;
}
.cart-nav .info-box {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px 0;
  width: 21.08%;
  margin: 0 10px;
}
.cart-nav .info-box .label-taxes {
  font-family: "Montserrat", Times, serif;
  color: #ff9d00;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cart-nav .info-box .label-taxes {
    display: block;
  }
}
.cart-nav .info-box .amount-taxes {
  font-family: "Montserrat", Times, serif;
  font-size: 25px;
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5%;
}
.cart-nav .info-box .label-total {
  font-family: "Montserrat", Times, serif;
  font-size: 25px;
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cart-nav .info-box .label-total {
    display: block;
  }
}
@media (max-width: 1199px) {
  .cart-nav .info-box .label-total {
    margin: 0 2%;
  }
}
.cart-nav .info-box .amount-total {
  font-family: "Montserrat", Times, serif;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cart-nav .info-box .amount-total {
    font-size: 25px;
    font-size: 2.5rem;
    margin: 0 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cart-nav .info-box {
    width: 20.66666%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart-nav .info-box {
    width: 40%;
    display: block;
    margin: 0 10px 20px auto;
  }
}
@media (max-width: 767px) {
  .cart-nav .info-box {
    width: 100%;
    display: block;
    margin: 0 0 20px auto;
    text-align: center;
  }
}
.cart-nav .adress-box {
  width: 34.125%;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.cart-nav .adress-box h2 {
  padding: 0;
  border: none;
  font-size: 25px;
  font-size: 2.5rem;
  text-transform: none;
  background-color: transparent;
  font-weight: normal;
  color: #e16d2c;
  margin: 0 0 5px 0;
}
.cart-nav .adress-box p {
  font-family: "Montserrat", Times, serif;
  font-size: 22px;
  font-size: 2.2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart-nav .adress-box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cart-nav .adress-box {
    padding: 0;
    width: 100%;
  }
}
.cart-nav .btn-box {
  width: 31.75%;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 991px) {
  .cart-nav .btn-box .row-tablet {
    margin: 0 -10px;
  }
}
.cart-nav .btn-box .btn {
  width: 100%;
  height: 66px;
  padding: 19px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart-nav .btn-box {
    width: 40%;
    margin: 0 10px 0 0;
  }
}
@media (max-width: 767px) {
  .cart-nav .btn-box {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .cart-nav {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=bootstrap.css.map */