/* #selling_options{
 background-color: #f0f0f0;
 padding:0px;"
 }  */
.product-list li a {
    font-size: 16px;
    text-align: center;
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    line-height: 1.42857143;
}
.product-step-box .thickness-list li label .indicator.inch-2{height:2in}
.product-step-box .thickness-list li label .indicator.inch-3{height:3in}
.product-step-box .thickness-list li label .indicator.inch-1-1-2{height:1.5in}

.product-step-box .thickness-list {
    text-align: left !important;
}

footer {
  height: 0% !important;
}

.js_check_login_password{
	color: #d3556a;
}

modal-content .close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    color: #3a3a3a !important;
    cursor: pointer !important;
    float: right !important;
    position: absolute !important;
    right: 20px !important;
    top: 27px !important;
}
/* moez */
.social{
	padding-left:0px !important;
}

.facturer{
    display: none;    
}


/* moez */

#oe_snippets .nav > li > a {
     height:30px;
}


.modal-dialog.login .modal-content .row a {
    color: #3a3a3a !important;
    font-size: 1.6rem !important;
}



.modal-dialog.login .modal-content {
    padding: 0 20px 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
/*     box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
    outline: 0 none;
/*     position: relative; */
}

/* .carousel-control, .modal-backdrop.in {
    opacity: 0.5;
} */
/* 
.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
} */
/* .fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
} */

.site-header .container::after{
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
    border-bottom-width:0px !important;
    margin-top:13px;
    border-color:rgba(255, 255, 255, 0.3);
}

.product-step-box{
    margin:0 0 80px;
    padding:20px 24px !important;
}
.container, .container-fluid{
   padding-left:10px;
   padding-right:10px;
}
.site-header{
  
   position:relative;
   z-index:60;
}
table.data-table th{
    font-size:1.8rem !important;
    font-weight:400 !important;
    padding:3px 22px !important;
}
.product-step-box_mat{
    margin:0;
}

/*  amel saidi*/

.menu-mat{
	color:#333 !important; 
	font-size:20px;
	font-family:"Source Sans Pro",Arial,Helvetica,sans-serif;
	clear: both;
	font-weight: 400;
	margin-left:20px;
}

.material_type-select{
	width: 100%;height: 65px;
    border-radius:8px;
    color:#000;
    background-color:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left:5px;
    padding-right:5px;
    background: transparent url('/website_sale_4cotes_cogen/static/src/img/icon/select.png') no-repeat right;
    border:2px solid black;
    margin-left: 20px;
}