
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "icons.less";

@import (reference) "catalog.less";

.cart-step-box{
    .product-step-box();
    form > &{
        margin-top:40px;
    }
    & > fieldset{
        margin-bottom:11px;
    }
    h1.no-border{
        border-bottom:none;
        padding-bottom:0;
        margin-bottom:21px;
    }
    h1 .icon{
        display:inline-block;
        &.truck{
            max-width:62px;
            margin-top:-10px;
            margin-left:23px;
            @media @mq-phone{
                display:none;
            }
        }
    }
    h2{
        border:none;
        margin:0 0 9px 0;
        .responsive-font(16px);
        text-transform:uppercase;
        font-family:@font-family-serif;
        font-weight:700;
        background-color:#e4e4e4;
        padding:2px 8px;
        @media @mq-phone{
            .responsive-font(22px);
        }
    }
    .cart-product{
        font-size:0;
        padding-left:118px;
        margin-bottom:8px;
        .image{
            display:inline-block;
            vertical-align:middle;
            width:118px;
            float:left;
            margin-left:-118px;
            padding-right:36px;
            img{
                border:1px solid #e7e7e7;
            }
            @media @mq-phone{
                margin:0 auto 20px auto;
                display:block;
                padding:0;
                width:82px;
                float:none;
            }
        }
        .caracteristics-group{
            display:inline-block;
            vertical-align:top;
            width:64.82558139534884%;
            min-height:82px;
            border-right:2px solid #e4e4e4;
            & > p{
                font-family:@font-family-serif;
                .responsive-font(15px);
                text-transform:uppercase;
                text-align:center;
                width:100%;
                padding:0 15px;
                display:inline-block;
                vertical-align:middle;
                margin:0;
                @media @mq-phone{
                    padding:0;
                }
            }
            @media @mq-phone{
                display:inline-block;
                width:100%;
                border:none;
            }
            &:before{
                content:'';
                display:inline-block;
                width:1px;
                height:82px;
                vertical-align:middle;
                margin:0 0 0 -1px;
            }
            @media @mq-phone{
                &:before{
                    content:none;
                }
            }
        }
        .caracteristics{
            display:inline-block;
            vertical-align:middle;
            font-size:0;
            margin-right:25px;
            margin-bottom:15px;
            &:last-child{
                margin-right:0;
            }
            h3{
                padding:0;
                margin:12px 0 5px 0;
                background-color:transparent;
                font-weight:400;
                color:@brand-secondary;
                .responsive-font(12px);
                .bold{
                    font-weight:700;
                }
                @media @mq-phone{
                    margin:0;
                }
            }
            .length,.width{
                width:150px;
                padding-right:16px;
                display:inline-block;
                vertical-align:top;
                font-size:0;
                .main,.decimal{
                    display:inline-block;
                    vertical-align:middle;
                    margin-right:6px;
                }
                .main{
                    width:50px;
                }
                .decimal{
                    width:60px;
                }
                &.mm{
                    .main{
                        width:122px;
                    }
                }
                .form-control{
                    display:inline-block;
                    height:@input-height-small;
                    .responsive-font(16px);
                    line-height:1.25em;
                    padding:7px 2px;
                    text-align:center;
                }
                .x-sign,abbr{
                    padding:0;
                    .responsive-font(17px);
                    display:inline-block;
                    vertical-align:middle;
                    width:16px;
                    text-align:center;
                    margin-right:-16px;
                    text-transform:uppercase;
                    font-family:@font-family-serif;
                }
                @media @mq-phone{
                    margin-bottom:10px;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
            }
            .thickness{
                width:70px;
                .form-control{
                    display:inline-block;
                    height:@input-height-small;
                    .responsive-font(16px);
                    line-height:1.25em;
                    padding:7px 2px;
                    text-align:center;
                }
            }
            .edge-band{
                height:38px;
                padding-top:6px;
                white-space:nowrap;
                margin-left:-6px;
                label{
                    font-family:@font-family-serif;
                    .responsive-font(17px);
                    margin-right:7px;
                    abbr{
                        display:inline-block;
                        vertical-align:middle;
                        padding:0 6px;
                    }
                }
            }
            @media @mq-phone{
                margin-bottom:20px;
                margin-right:0;
                display:block;
            }
        }
        .qty-price{
            display:inline-block;
            vertical-align:bottom;
            width:35.17441860465116%;
            .qty{
                width:50%;
                display:inline-block;
                text-align:center;
                .visible-xs-inline-block{
                    .responsive-font(16px);
                    text-transform:uppercase;
                    vertical-align:middle;
                    padding:5px 20px;
                }
                .bootstrap-touchspin{
                    .product-step-box .spinner-box .bootstrap-touchspin();
                    padding:0 36px;
                    width:137px;
                    height:44px;
                    vertical-align:middle;
                    input{
                        .responsive-font(16px);
                        height:44px;
                        text-align:center;
                    }
                    .input-group-btn .bootstrap-touchspin-up,.input-group-btn .bootstrap-touchspin-down{
                        width:29px;
                        height:29px;
                        top:8px;
                        &:after{
                            width:29px;
                            line-height:29px;
                        }
                    }
                    .input-group-btn .bootstrap-touchspin-up{
                        &:after{
                            line-height:32px;
                        }
                    }
                }
                &:before{
                    content:'';
                    display:inline-block;
                    width:1px;
                    height:82px;
                    vertical-align:middle;
                    margin:0 0 0 -1px;
                }
                @media @mq-desktop-below{
                    display:block;
                    width:100%;
                    height:80px;
                    padding:16px 0;
                    &:before{
                        content:none;
                    }
                }
                @media @mq-phone{
                    height:auto;
                }
            }
            .price{
                width:50%;
                display:inline-block;
                vertical-align:bottom;
                text-align:center;
                padding-right:35px;
                border-left:2px solid #e4e4e4;
                min-height:82px;
                padding-top:24px;
                p{
                    float:left;
                    width:100%;
                    text-align:center;
                    font-family:@font-family-serif;
                    .responsive-font(25px);
                    margin:0;
                }
                .btn-trash{
                    float:right;
                    margin:0 -35px 0 0;
                    .border-radius(0);
                    display:block;
                    width:35px;
                    height:35px;
                    background-color:@brand-primary;
                    &:after{
                        content:@icon-trash;
                        font-family:@font-family-icons;
                        color:@brand-white;
                        .responsive-font(22px);
                        line-height:33px;
                        width:35px;
                        text-align:center;
                    }
                }
                @media @mq-desktop-below{
                    border-left:none;
                    border-top:2px solid #e4e4e4;
                    display:block;
                    width:100%;
                    padding:20px 35px 20px 0;
                }
            }
            @media @mq-phone{
                width:100%;
                display:block;
            }
        }
        @media @mq-phone{
            padding-left:0;
            padding-top:15px;
        }
    }
    .notice-cart{
        color:@brand-primary;
        font-family:@font-family-serif;
        .responsive-font(15px);
        text-align:center;
        max-width:1035px;
        margin:0 auto;
        padding-top:20px;
        a{
            text-decoration:underline;
        }
    }
    
    fieldset.max-box{
        max-width:981px;
        margin:0 auto 17px auto;
        legend{
            .responsive-font(16px);
            color:@brand-secondary;
            padding:0;
            background:transparent none;
            text-transform:uppercase;
            font-weight:400;
            margin-bottom:20px;
            border:none;
            font-family:@font-family-serif;
            margin:0 0 21px 0;
        }
        .col-sm-4,.col-sm-6,.col-sm-12{
            margin-bottom:14px;
        }
        .other-adress-form{
            display:none;
        }
    }
    h2.small{
        .responsive-font(16px);
        color:@brand-secondary;
        padding:0;
        border:none;
        text-transform:uppercase;
        background-color:transparent;
        font-weight:normal;
        margin:0 0 23px 0;
    }
    h3.big{
        color:@brand-secondary;
        text-transform:none;
        .responsive-font(25px);
        margin:0;
        font-weight:400;
    }
    p{
        .responsive-font(15px);
        line-height:1.533333333333333em;
        font-family:@font-family-serif;
        &.big{
            .responsive-font(20px);
        }
    }
    & > .max-box.large .big{
        text-align:center;
    }
    .btn{
        .paypal{
            display:block;
            margin:-2px auto -4px auto;
            width:96px;
            height:26px;
            position:relative;
            text-indent:-50000px;
            overflow:hidden;
            &:before,&:after{
                content:'';
                display:block;
                width:96px;
                height:26px;
                background:transparent url(../media/images/sprite-payment.png) no-repeat scroll 0 0;
                .absolute-center-center();
                .transition-property(~'opacity');
                .transition-duration(0.2s);
                .transition-timing-function(ease);
            }
            &:after{
                opacity:0;
                background-position:-101px 0;
                .ie8 &{
                    display:none;
                }
            }
        }
        .wiretransfer{
            display:inline-block;
            margin:0 auto;
            position:relative;
            padding:0 0 0 52px;
            &:before,&:after{
                content:'';
                display:block;
                width:38px;
                height:27px;
                background:transparent url(../media/images/sprite-payment.png) no-repeat scroll 0 -33px;
                position:absolute;
                left:0;
                top:-5px;
                .transition-property(~'opacity');
                .transition-duration(0.2s);
                .transition-timing-function(ease);
            }
            &:after{
                opacity:0;
                background-position:-43px -33px;
                .ie8 &{
                    display:none;
                }
            }
        }
        &:hover{
            .paypal,.wiretransfer{
                &:before{
                    opacity:0;
                    .ie8 &{
                        display:none;
                    }
                }
                &:after{
                    opacity:1;
                    .ie8 &{
                        display:block;
                    }
                }
            }
        }
    }
    .or-box{
        display:block;
        padding:16px 0;
        .responsive-font(16px);
        text-transform:uppercase;
        font-family:@font-family-serif;
    }
    & > .row > .col-sm-6{
        margin-bottom:40px;
        padding:20px 64px;
        &:first-child:after{
            content:'';
            display:block;
            width:1px;
            height:100%;
            border-right:2px solid #e4e4e4;
            position:absolute;
            right:0;
            margin-right:-1px;
            top:0;
            @media @mq-phone{
                content:none;
            }
        }
        @media @mq-tablet-below{
            padding:20px (@grid-gutter-width/2);
        }
    }
}

.cart-nav{
    .make-row();
    text-align:right;
    font-size:0;
    margin-bottom:20px;
    .info-box{
        display:inline-block;
        vertical-align:top;
        text-align:center;
        background-color:@brand-white;
        padding:20px 0;
        width:21.08%;
        margin:0 (@grid-gutter-width/2);
        .label-taxes{
            font-family:@font-family-serif;
            color:@brand-primary;
            .responsive-font(16px);
            text-transform:uppercase;
            display:inline-block;
            vertical-align:middle;
            margin:0 5%;
            @media @mq-desktop{
                display:block;
            }
        }
        .amount-taxes{
            font-family:@font-family-serif;
            .responsive-font(25px);
            text-transform:uppercase;
            display:inline-block;
            vertical-align:middle;
            margin:0 5%;
        }
        .label-total{
            font-family:@font-family-serif;
            .responsive-font(25px);
            display:inline-block;
            vertical-align:middle;
            margin:0 5%;
            @media @mq-desktop{
                display:block;
            }
            @media @mq-desktop-below{
                margin:0 2%;
            }
        }
        .amount-total{
            font-family:@font-family-serif;
            .responsive-font(28px);
            text-transform:uppercase;
            font-weight:bold;
            display:inline-block;
            vertical-align:middle;
            margin:0 5%;
            @media @mq-desktop{
                .responsive-font(25px);
                margin:0 2%;
            }
        }
        @media @mq-desktop{
            width:20.66666%;
        }
        @media @mq-tablet{
            width:40%;
            display:block;
            margin:0 (@grid-gutter-width/2) @grid-gutter-width auto;
        }
        @media @mq-phone{
            width:100%;
            display:block;
            margin:0 0 @grid-gutter-width auto;
            text-align:center;
        }
    }
    .adress-box{
        width:34.125%;
        padding:0 (@grid-gutter-width/2);
        display:inline-block;
        vertical-align:top;
        text-align:center;
        h2{
            padding:0;
            border:none;
            .responsive-font(25px);
            text-transform:none;
            background-color:transparent;
            font-weight:normal;
            color:@brand-secondary;
            margin:0 0 5px 0;
        }
        p{
            font-family:@font-family-serif;
            .responsive-font(22px);
        }
        @media @mq-tablet{
            width:50%;
        }
        @media @mq-phone{
            padding:0;
            width:100%;
        }
    }
    .btn-box{
        width:31.75%;
        display:inline-block;
        vertical-align:top;
        .row-tablet{
            @media @mq-tablet-below{
                margin:0 (0 - @grid-gutter-width/2);
            }
        }
        .btn{
            width:100%;
            height:66px;
            padding:19px 0;
        }
        @media @mq-tablet{
            width:40%;
            margin:0 (@grid-gutter-width/2) 0 0;
        }
        @media @mq-phone{
            width:100%;
            margin:0;
        }
    }
    @media @mq-phone{
        padding:0 (@grid-gutter-width/2);
    }
}