
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "icons.less";


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.nav-categories{
    position:relative;
    z-index:50;
    ul.navbar-nav{
        padding:0;
        font-size:0;
        margin-bottom:22px;
        margin-left:0;
        margin-right:0;
        float:none;
        & > li{
            @style-icons:{
                position:relative;
                &:before{
                    position:absolute;
                    left:0;
                    top:-9999px;
                    bottom:-9999px;
                    margin:auto 0;
                    content:'';
                    display:block;
                    background:transparent url(../media/images/sprite-categories.png) no-repeat scroll 0 0;
                }
            };
            width:25%;
            display:inline-block;
            vertical-align:bottom;
            padding:0 @grid-gutter-width/2;
            list-style:none outside none;
            font-size:0;
            position:relative;
            z-index:1;
            float:none;
            &.active,&:hover,&.open{
                &:before{
                    content:'';
                    display:block;
                    width:1px;
                    height:1px;
                    border:12px solid transparent;
                    border-top-color:@brand-secondary;
                    position:absolute;
                    left:-9999px;
                    right:-9999px;
                    top:100%;
                    margin:0 auto;
                    z-index:3;
                }
            }
            a{
                display:block;
                width:100%;
                min-height:65px;
                text-align:center;
                font-family:@font-family-serif;
                color:@brand-white;
                text-transform:uppercase;
                background-color:@brand-secondary;
                padding:0 (@grid-gutter-width/2);
                position:relative;
                overflow:hidden;
                span{
                    .responsive-font(18px);
                    line-height:1em;
                    display:inline-block;
                    vertical-align:middle;
                    text-align:left;
                }
                &:after{
                    content:'';
                    display:inline-block;
                    vertical-align:middle;
                    width:1px;
                    height:65px;
                    margin-right:-1px;
                    @media @mq-phone{
                        height:52px;
                    }
                }
                @media @mq-phone{
                    text-align:left;
                    min-height:52px;
                }
            }
            &.materials,
            &.doors,
            &.hardware{
                z-index:3;
                a span{
                    padding-left:66px;
                    @media @mq-phone{
                        padding-left:0;
                        &:before{
                            content:none !important;
                        }
                    }
                }
            }
            
            &.materials{
                z-index:6;
                a{
                    span{
                        @style-icons();
                        &:before{
                            width:59px;
                            height:47px;
                        }
                    }
                }
            }
            &.doors{
                z-index:5;
                a{
                    background-color:@brand-primary;
                    span{
                        @style-icons();
                        &:before{
                            width:50px;
                            height:47px;
                            background-position:-95px 0;
                        }
                    }
                }
                &:before{
                    border-top-color:@brand-primary;
                }
            }
            &.hardware{
                z-index:4;
                a{
                    background-color:#d23e2a;
                    color:@brand-white;
                    span{
                        @style-icons();
                        &:before{
                            width:47px;
                            height:47px;
                            background-position:-182px 0;
                        }
                    }
                }
                &:before{
                    border-top-color:#d23e2a;
                }
            }
            .dropdown-toggle{
                position:absolute;
                top:0;
                right:0;
                width:65px;
                height:65px;
                .responsive-font(18px);
                cursor:pointer;
                &:hover{
                    text-decoration:none;
                }
                &:before{
                    display:none !important;
                }
                &:after{
                    content:'';
                    display:block;
                    width:1px;
                    height:1px;
                    border:10px solid transparent;
                    border-top-color:@brand-white;
                    position:absolute;
                    left:23px;
                    top:28px;
                    @media @mq-phone{
                        left:17px;
                        top:22px;
                    }
                }
                @media @mq-phone{
                    border-left:1px solid #9e2f20;
                    height:52px;
                    width:52px;
                }
            }
            .dropdown-menu{
                width:200%;
                margin:0;
                .box-shadow(none);
                border:none;
                z-index:2;
                font-size:0;
                position:absolute;
                .vertical-gradient(@brand-white,#e3e3e3);
                li{
                    .responsive-font(18px);
                    width:50%;
                    vertical-align:top;
                    text-align:center;
                    padding:20px 0;
                    display:inline-block;
                    a{
                        background-color:transparent;
                        padding:0;
                        color:@text-color;
                        height:auto;
                        width:auto;
                        min-height:0;
                        display:inline;
                        &:hover{
                            color:#d23e2a;
                        }
                        &:after,&:hover:after,&:before,&:hover:before{
                            content:none;
                        }
                    }
                    &:hover a:after,&:hover a:before{
                        content:none;
                    }
                }
                &:after{
                    content:'';
                    width:1px;
                    height:86%;
                    position:absolute;
                    left:50%;
                    top:7%;
                    border-left:2px solid #c3c3c3;
                }
                @media @mq-phone{
                    width:100%;
                    li{
                        padding:10px 0;
                        width:100%;
                    }
                    &:after{
                        content:none;
                    }
                }
            }
            &.open{
                & > .dropdown-toggle:after{
                    border-top-color:transparent;
                    border-bottom-color:@brand-white;
                    top:18px;
                    @media @mq-phone{
                        top:12px;
                    }
                }
            }
            @media @mq-tablet{
                width:50%;
            }
            @media @mq-phone{
                width:100%;
            }
        }
        @media @mq-phone{
            margin-top:0;
            margin-left:(0-(@grid-gutter-width/2));
            margin-right:(0-(@grid-gutter-width/2));
        }
    }
}

.breadcrumb{
    .background-alpha(@brand-white,50%);
    padding:12px 15px;
    margin-bottom:22px;
    .breadcrumb-item{
        font-family:@font-family-serif;
        .responsive-font(18px);
        a{
            color:@text-color;
        }
        &:before{
            content:'> ';
            position:relative;
            top:2px;
        }
        &:first-child{
            &:before{
                content:none;
            }
        }
        &:last-child{
            font-weight:700;
        }
        @media @mq-phone{
            display:none;
            &:last-child{
                display:inline-block;
                padding:0 35px;
                text-transform:uppercase;
                position:relative;
                .responsive-font(24px);
                &:before,&:after{
                    content:'';
                    display:block;
                    border:8px solid transparent;
                    border-bottom-width:0;
                    border-top-color:@text-color;
                    width:1px;
                    height:1px;
                    position:absolute;
                    top:-9999px;
                    bottom:-9999px;
                    margin:auto 0;
                    left:0;
                }
                &:after{
                    left:auto;
                    right:0;
                }
            }
        }
    }
    @media @mq-phone{
        background:transparent none;
        padding:0;
        text-align:center;
    }
}

.product-list{
    padding:0;
    font-size:0;
    li{
        display:inline-block;
        vertical-align:top;
        float:none;
        list-style:none outside none;
        margin-bottom:@grid-gutter-width;
        a,a:focus{
            color:@text-color;
            position:relative;
            display:block;
            text-decoration:none;
            .product{
                background-color:@brand-white;
                padding:18px;
                .image{
                    width:100%;
                    height:1px;
                    padding-bottom:81.88976377952756%;
                    position:relative;
                    overflow:hidden;
                    img{
                        .absolute-center-center();
                        height:100%;
                        max-width:none;
                    }
                }
                .title{
                    margin-top:18px;
                    border-top:2px solid @gray-light;
                    padding-top:18px;
                    text-align:center;
                    .responsive-font(18px);
                    .name{
                        font-weight:700;
                    }
                }
            }
            .over{
                .background-alpha(#141414,80%);
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                opacity:0;
                .transition-property(~'display,opacity');
                .transition-duration(0.2s);
                .transition-timing-function(ease);
                overflow:hidden;
                &:before{
                    content:'';
                    display:block;
                    width:72px;
                    height:72px;
                    border:2px solid @brand-white;
                    .border-radius(99px);
                    .absolute-center-center();
                }
                &:after{
                    content:'+';
                    font-family:@font-family-sans-serif;
                    .responsive-font(60px);
                    color:@brand-white;
                    display:block;
                    width:72px;
                    height:72px;
                    line-height:69px;
                    text-align:center;
                    .absolute-center-center();
                }
            }
            &:hover{
                text-decoration:none;
                .over{
                    opacity:1;
                    .ie8 &{
                        filter: alpha(opacity=100);
                    }
                }
            }
        }
        @media @mq-phone{
            display:block;
            max-width:400px;
            margin:0 auto @grid-gutter-width auto;
        }
    }
}

.product-step-box{
    background-color:@brand-white;
    padding:20px 24px;
    margin-bottom:20px;
    .col-sm-6{
        text-align:center;
        label{
            display:block;
        }
    }
    h1,h2{
        .responsive-font(28px);
        font-weight:400;
        padding:13px 0 19px 85px;
        border-bottom:2px solid @gray-light;
        margin-bottom:25px;
        .step-number{
            float:left;
            margin:-13px 0 0 -85px;
            @media @mq-phone{
                margin:-10px 0 0 -50px;
            }
        }
        &:after{
            content:'';
            display:block;
            clear:both;
        }
        @media @mq-phone{
            .responsive-font(20px);
            padding-left:50px;
            padding-top:10px;
        }
    }
    h3{
        .responsive-font(18px);
        font-weight:bold;
        text-transform:uppercase;
        margin-bottom:22px;
    }
    .max-box{
        max-width:470px;
        text-align:left;
        &.right{
            float:right;
            width:100%;
        }
        &.center{
            display:inline-block;
            margin:0 auto;
            text-align:center;
            max-width:380px;
            width:100%;
            h3{
                text-align:left;
            }
            @media @mq-desktop-below{
                width:100%;
            }
        }
        &.large{
            max-width:961px;
            display:block;
            margin:0 auto;
            width:100%;
        }
        @media @mq-phone{
            max-width:none;
            &.right{
                float:none;
            }
            &.center{
                display:block;
            }
        }
    }
    .single-field{
        margin-bottom:34px;
    }
    .essences{
        .make-row();
        font-size:0;
        padding:0;
        li{
            display:inline-block;
            width:20%;
            padding:0 (@grid-gutter-width/2);
            margin-bottom:@grid-gutter-width;
            input{
                display:none;
            }
            label{
                display:block;
                margin:0;
                cursor:pointer;
                position:relative;
                .box-shadow(2px 2px 2px #7f7f7f);
                img{
                    width:100%;
                }
                &:after{
                    content:'';
                    display:block;
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    border:4px solid @brand-secondary;
                    display:none
                }
                &.active{
                    &:after{
                        display:block;
                    }
                }
            }
            @media @mq-phone{
                width:33.3333333333%;
            }
        }
    }
    .col-lg-5{
        margin-bottom:40px;
        label{
            display:block;
        }
    }
    .doors{
        margin:0 -@grid-gutter-width;
        padding:0;
        font-size:0;
        li{
            padding:0 @grid-gutter-width;
            list-style:none outside none;
            display:inline-block;
            vertical-align:top;
            margin-bottom:40px;
            width:20%;
            label{
                cursor:pointer;
                margin:0;
                input{
                    display:none;
                }
                div{
                    position:relative;
                    .box-shadow(2px 2px 2px #7f7f7f);
                    &:after{
                        content:'';
                        display:none;
                        border:5px solid @brand-primary;
                        position:absolute;
                        left:0;
                        top:0;
                        width:100%;
                        height:100%;
                    }
                }
                span{
                    font-family:@font-family-serif;
                    .responsive-font(18px);
                    font-weight:bold;
                    display:block;
                    margin-top:14px;
                }
                &.active div:after{
                    display:block;
                }
            }
            @media @mq-tablet-below{
                padding:0 (@grid-gutter-width/2);
            }
            @media @mq-phone{
                width:50%;
            }
        }
        @media @mq-tablet-below{
            margin:0 (0-@grid-gutter-width/2);
        }
    }
    .your-choice{
        img{
            display:block;
            .box-shadow(2px 2px 2px #7f7f7f);
            margin:0 auto 20px auto;
        }
        p{
            text-align:center;
            font-weight:700;
            font-family:@font-family-serif;
            .responsive-font(18px);
        }
        &.door{
            text-align:left;
            img{
                margin:0 0 40px 0;
            }
        }
    }
    .thickness-list{
        padding:0;
        .make-row();
        font-size:0;
        text-align:center;
        li{
            display:inline-block;
            width:(100%/9);
            padding:0 (@grid-gutter-width/2);
            vertical-align:bottom;
            font-family:@font-family-serif;
            .responsive-font(18px);
            label{
                display:block;
                padding-top:30px;
                text-align:center;
                cursor:pointer;
                input{
                    display:none;
                }
                .indicator{
                    width:100%;
                    height:0.125in;
                    background-color:@gray;
                    .box-shadow(2px 2px 2px #7f7f7f);
                    position:relative;
                    &.inch-1-8{
                        height:0.125in;
                    }
                    &.inch-1-4{
                        height:0.25in;
                    }
                    &.inch-3-8{
                        height:0.375in;
                    }
                    &.inch-1-2{
                        height:0.5in;
                    }
                    &.inch-5-8{
                        height:0.625in;
                    }
                    &.inch-11-16{
                        height:0.6875in;
                    }
                    &.inch-3-4{
                        height:0.75in;
                    }
                    &.inch-1{
                        height:1in;
                    }
                    &.inch-1-1-8{
                        height:1.125in;
                    }
                    &:after{
                        content:'';
                        display:none;
                        width:1px;
                        height:1px;
                        border:15px solid transparent;
                        border-top-color:@brand-secondary;
                        position:absolute;
                        bottom:100%;
                        left:-9999px;
                        right:-9999px;
                        margin:0 auto -4px auto;
                    }
                }
                span{
                    display:block;
                    padding-top:10px;
                }
                &:hover{
                    .indicator{
                        &:after{
                            display:block;
                        }
                    }
                }
                &.active{
                    .indicator{
                        background-color:@brand-secondary;
                        &:after{
                            display:block;
                        }
                    }
                }
            }
            
        }
    }
    .unit{
        display:block;
        width:100%;
        text-align:left;
        .responsive-font(20px);
        font-family:@font-family-serif;
        text-transform:uppercase;
        padding-top:17px;
    }
    .x-sign{
        display:block;
        width:100%;
        text-align:center;
        .responsive-font(44px);
        font-family:@font-family-serif;
        padding-top:49px;
        text-transform:uppercase;
        line-height:1em;
        @media @mq-tablet-below{
            padding-top:0;
        }
    }
    .max-value{
        p{
            .responsive-font(14px);
            font-family:@font-family-serif;
            font-style:italic;
        }
    }
    .tip-box{
        background-color:@brand-primary;
        padding:23px 25px;
        margin-top:61px;
        h2{
            .responsive-font(24px);
            font-weight:700;
            text-transform:uppercase;
            border:none;
            padding:0;
        }
        p{
            .responsive-font(16px);
        }
        @media @mq-tablet-below{
            margin-top:@grid-gutter-width;
        }
    }
    .col-xs-4 input,
    .col-xs-6 input,
    .col-xs-8 input{
        text-align:center;
    }
    .edge-selection{
        padding:0;
        max-width:417px;
        margin-bottom:35px;
        & > li{
            list-style:none outside none;
            margin-bottom:10px;
            label{
                display:block;
                width:100%;
                padding:0 0 0 38px;
                .visible{
                    float:left;
                    margin-left:-38px;
                    .responsive-font(24px);
                    font-family:@font-family-serif;
                    font-weight:700;
                    line-height:@input-height-base;
                    width:22px;
                    text-align:center;
                }
            }
        }
    }
    .edge-box{
        position:relative;
        height:285px;
        padding:33px;
        margin-bottom:20px;
        .cardinal-point{
            position:absolute;
            top:0;
            left:-9999px;
            right:-9999px;
            margin:auto;
            width:24px;
            height:24px;
            text-align:center;
            .responsive-font(24px);
            line-height:1em;
            text-align:center;
            font-family:@font-family-serif;
            &.south{
                top:auto;
                bottom:0;
            }
            &.east{
                top:-9999px;
                bottom:-9999px;
                left:auto;
                right:0;
            }
            &.west{
                top:-9999px;
                bottom:-9999px;
                left:0;
                right:auto;
            }
        }
        .edge-border-box{
            height:100%;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border:32px solid transparent;
            z-index:3;
        }
        .border-box{
            border:2px dashed @brand-primary;
            width:100%;
            height:100%;
            padding:32px;
            position:relative;
            &.inner{
                padding:0;
            }
            .corners{
                position:absolute;
                z-index:5;
                top:0;
                left:0;
                &.top,&.bottom{
                    width:100%;
                    height:32px;
                    &:before{
                        position:absolute;
                        top:0;
                        left:1px;
                        content:'';
                        display:block;
                        width:32px;
                        height:32px;
                        background:transparent url(../media/images/sprite-diagonals.png) no-repeat scroll left -41px;
                    }
                    &:after{
                        position:absolute;
                        top:0;
                        right:1px;
                        content:'';
                        display:block;
                        width:32px;
                        height:32px;
                        background:transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px 0;
                    }
                }
                &.bottom{
                    top:auto;
                    bottom:0;
                    &:before{
                        background-position:-6px 0;
                    }
                    &:after{
                        background-position:left -41px;
                    }
                }
                &.left,&.right{
                    width:32px;
                    height:100%;
                    &:before{
                        position:absolute;
                        top:1px;
                        left:0;
                        content:'';
                        display:block;
                        width:32px;
                        height:32px;
                        background:transparent url(../media/images/sprite-diagonals.png) no-repeat scroll -6px -46px;
                    }
                    &:after{
                        position:absolute;
                        bottom:1px;
                        right:0;
                        content:'';
                        display:block;
                        width:32px;
                        height:32px;
                        background:transparent url(../media/images/sprite-diagonals.png) no-repeat scroll 0 -6px;
                    }
                }
                &.right{
                    left:auto;
                    right:0;
                    &:before{
                        background-position:0 -6px;
                    }
                    &:after{
                        background-position:-6px -47px;
                    }
                }
            }
            .info-box{
                border:5px solid @text-color;
                background-color:@gray-lighter;
                height:100%;
                position:relative;
                .length-box{
                    display:inline-block;
                    padding:12px 0;
                    background-color:@brand-primary;
                    position:absolute;
                    top:0;
                    left:-9999px;
                    right:-9999px;
                    margin:0 auto;
                    width:108px;
                    height:53px;
                    font-family:@font-family-serif;
                    &.left{
                        left:0;
                        right:auto;
                        top:44%;
                        margin:auto 0;
                    }
                }
            }
        }
        &.full-top{
            .edge-border-box{
                border-top-color:#d23e2a;
            }
            .border-box{
                border-top-style:solid;
            }
            .corners.top{
                &:before{
                    background-position:left -151px;
                    width:36px;
                    height:36px;
                    top:-2px;
                    left:-1px;
                }
                &:after{
                    background-position:right -81px;
                    width:36px;
                    height:36px;
                    top:-2px;
                    right:-1px;
                }
            }
        }
        &.full-bottom{
            .edge-border-box{
                border-bottom-color:#d23e2a;
            }
            .border-box{
                border-bottom-style:solid;
            }
            .corners.bottom{
                &:before{
                    background-position:right -81px;
                    width:36px;
                    height:36px;
                    top:auto;
                    bottom:-2px;
                    left:-1px;
                }
                &:after{
                    background-position:left -151px;
                    width:36px;
                    height:36px;
                    top:auto;
                    bottom:-2px;
                    right:-1px;
                }
            }
        }
        &.full-left{
            .edge-border-box{
                border-left-color:#d23e2a;
            }
            .border-box{
                border-left-style:solid;
            }
            .corners.left{
                &:before{
                    background-position:left -151px;
                    width:36px;
                    height:36px;
                    top:-1px;
                    left:-2px;
                }
                &:after{
                    background-position:right -81px;
                    width:36px;
                    height:36px;
                    top:auto;
                    bottom:-1px;
                    right:-2px;
                }
            }
        }
        &.full-right{
            .edge-border-box{
                border-right-color:#d23e2a;
            }
            .border-box{
                border-right-style:solid;
            }
            .corners.right{
                &:before{
                    background-position:right -81px;
                    width:36px;
                    height:36px;
                    top:-1px;
                    left:-2px;
                }
                &:after{
                    background-position:left -151px;
                    width:36px;
                    height:36px;
                    top:auto;
                    bottom:-1px;
                    right:-2px;
                }
            }
        }
        @media @mq-phone{
            margin:0 -20px 20px -20px;
        }
    }
    .notice{
        .responsive-font(20px);
        font-family:@font-family-serif;
    }
    .spinner-box{
        label{
            display:block;
            margin-bottom:0;
            & > span{
                display:inline-block;
                vertical-align:middle;
                text-transform:uppercase;
                width:32%;
                .responsive-font(24px);
                font-family:@font-family-serif;
                @media @mq-phone{
                    display:block;
                    margin-bottom:20px;
                    width:auto;
                }
            }
        }
        .bootstrap-touchspin{
            display:inline-block;
            vertical-align:middle;
            width:180px;
            padding:0 49px;
            position:relative;
            span{
                display:none;
                &.input-group-btn{
                    display:block;
                }
            }
            @style-spinner-btns:{
                position:absolute;
                width:36px;
                height:36px;
                background-color:@brand-primary;
                top:11px;
                text-indent:-50000px;
                overflow:hidden;
                cursor:pointer;
                border:none;
                padding:0;
                .border-radius(0);
                &:after{
                    content:'+';
                    color:@text-color;
                    display:block;
                    width:36px;
                    line-height:38px;
                    text-indent:0;
                    text-align:center;
                    font-family:@font-family-serif;
                    .responsive-font(20px);
                    position:absolute;
                    top:0;
                    left:0;
                }
            };
            .input-group-btn .bootstrap-touchspin-up{
                @style-spinner-btns();
                right:0;
            }
            .input-group-btn .bootstrap-touchspin-down{
                @style-spinner-btns();
                left:0;
                &:after{
                    content:'-';
                    line-height:36px;
                }
            }
        }
        input{
            text-align:center;
        }
        .col-sm-4{
            text-align:center;
        }
        @media @mq-phone{
            text-align:center;
        }
    }
    &.detail{
        padding:33px 24px;
        .col-sm-5{
            text-align:center;
            position:relative;
            padding-right:22px;
            img{
                display:block;
                margin:0 auto 7px auto;
            }
            &:after{
                content:'';
                display:block;
                width:1px;
                height:100%;
                position:absolute;
                top:0;
                right:-1px;
                border-right:2px solid #e4e4e4;
            }
            @media @mq-phone{
                margin-bottom:30px;
                padding-right:(@grid-gutter-width/2);
                &:after{
                    content:none;
                }
            }
        }
        .col-sm-7{
            padding-left:96px;
            h2{
                padding:10px 0 0 0;
                border:none;
                font-weight:bold;
            }
            h3{
                margin:0;
                text-transform:none;
                .responsive-font(19px);
            }
            p,p:last-child{
                margin:0 0 22px 0;
                font-family:@font-family-serif;
                .responsive-font(18px);
            }
            .row{
                font-size:0;
                .col-sm-6{
                    text-align:left;
                    float:none;
                    display:inline-block;
                    vertical-align:top;
                    @media @mq-phone{
                        display:block;
                    }
                }
            }
            form{
                padding-top:29px;
            }
            .col-md-6{
                @media @mq-tablet-below{
                    margin-bottom:30px;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
            }
            @media @mq-tablet{
                padding-left:50px;
            }
            @media @mq-phone{
                padding-left:(@grid-gutter-width/2);
            }
        }
    }
    &.title-no-border{
        h1,h2{
            border:none;
            padding:0;
            margin:0 0 21px 0;
        }
        .row{
            font-size:0;
            .col-sm-8,.col-sm-4{
                display:inline-block;
                vertical-align:middle;
                float:none;
                p,p:last-child{
                    margin-bottom:21px;
                }
                @media @mq-phone{
                    display:block;
                }
            }
        }
        
    }
    .full-width{
        margin:0 -24px -20px -24px;
        table{
            width:100%;
        }
    }
    @media @mq-phone{
        .tab-pane .col-md-5 > .row,
        .tab-pane .col-md-3 > .row{
            margin:0 (-(@grid-gutter-width/4));
        }
        .col-xs-2,
        .col-xs-4,
        .col-xs-6,
        .col-xs-8{
            padding:0 (@grid-gutter-width/4);
        }
    }
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}

.total-box{
    background-color:@brand-primary;
    padding:20px 24px;
    margin-top:-20px;
    margin-bottom:40px;
    .max-box{
        .product-step-box .max-box();
        text-align:center;
        label{
            display:block;
            text-align:left;
            font-size:0;
            & > span{
                display:inline-block;
                vertical-align:middle;
                text-transform:uppercase;
                width:40.3%;
                .responsive-font(24px);
                font-family:@font-family-serif;
                .lowercase{
                    text-transform:none;
                }
                @media @mq-phone{
                    display:block;
                    margin-bottom:20px;
                    width:auto;
                    text-align:center;
                }
            }
            .field{
                display:inline-block;
                vertical-align:middle;
                width:40%;
                padding-right:20px;
                .form-control,
                .form-control[disabled],
                .form-control[readonly]{
                    text-align:center;
                    background-color:transparent;
                    float:left;
                    width:100%;
                }
                span{
                    .responsive-font(24px);
                    font-family:@font-family-serif;
                    float:right;
                    margin-right:-20px;
                    line-height:@input-height-base;
                }
                &:after{
                    content:'';
                    display:block;
                    clear:both;
                }
                @media @mq-phone{
                    display:block;
                    margin-bottom:20px;
                    width:auto;
                }
            }
        }
    }
}


.nav-tabs{
    border-bottom:none;
    height:63px;
    position:relative;
    margin-bottom:-2px;
    z-index:3;
    .make-row();
    li{
        padding:0 (@grid-gutter-width/2);
        a,a:hover,a:focus{
            .border-radius(8px);
            border:2px solid @gray-dark;
            height:55px;
            background-color:@brand-white;
            color:@gray-dark;
            .responsive-font(20px);
            font-family:@font-family-serif;
            @media @mq-phone{
                padding:10px;
            }
        }
        &.active a, &.active a:hover,&.active a:focus{
            .border-radius(8px 8px 0 0);
            border:2px solid @gray-dark;
            border-bottom:none;
            height:63px;
            color:@gray-dark;
            background-color:@gray-lighter;
        }
        @media @mq-phone{
            &:first-child{
                padding-right:3px;
            }
            &:last-child{
                padding-left:3px;
            }
        }
    }
}
.tab-content{
    .tab-pane{
        .border-radius(8px);
        border:2px solid @gray-dark;
        background-color:@gray-lighter;
        padding:20px 28px;
        &:first-child{
            .border-radius(0 8px 8px 8px);
        }
        @media @mq-phone{
            padding:20px 10px;
        }
    }
}

