h1,.h1{
    margin:0 0 20px 0;
    .responsive-font(@font-size-h1);
    line-height:1em;
    font-family:@font-family-serif;
    font-weight:700;
    color:@text-color;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
h2,.h2{
    margin:0 0 26px 0;
    .responsive-font(@font-size-h2);
    color:@text-color;
    font-family:@font-family-serif;
    line-height:1.083333333333333em;
    font-weight:700;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
h3,.h3{
    margin:0 0 8px 0;
    .responsive-font(@font-size-h3);
    color:@text-color;
    font-family:@font-family-serif;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
h4,.h4{
    margin:0;
    .responsive-font(@font-size-h4);
    color:@text-color;
    font-family:@font-family-serif;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
h5,.h5{
    margin:0;
    .responsive-font(@font-size-h5);
    color:@text-color;
    font-family:@font-family-serif;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
h6,.h6{
    margin:0;
    .responsive-font(@font-size-h6);
    color:@text-color;
    font-family:@font-family-serif;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}
p{
    margin:0 0 24px 0;
    .responsive-font(@font-size-base);
    color:@text-color;
    line-height:1.2em;
    font-weight:300;
    .inverted &{
        color:@brand-white;
    }
    &:last-child{
        margin-bottom:0;
    }
}

a{
    &:focus,&:hover{
        color:@brand-primary;
        text-decoration:underline;
    }
    &.nolink{
        color:@text-color;
        cursor:text;
        &:focus,&:hover{
            text-decoration:none;
        }
    }
}

.btn{
    border:2px solid @gray-darker;
    color:@gray-darker;
    .responsive-font(@font-size-base);
    line-height:1.2em;
    .border-radius(7px);
    font-family:@font-family-serif;
    padding:15px 20px;
    .box-shadow(none) !important;
    .transition-property(~'color,background-color,border-color');
    .transition-duration(0.2s);
    .transition-timing-function(ease);
    white-space:normal;
    background-color:transparent;
    &:hover{
        border-color:@brand-secondary;
        background-color:@brand-secondary;
        color:@brand-white;
    }
    .inverted &{
        border-color:@brand-white;
        color:@brand-white;
        &:hover{
            border-color:@brand-white;
            background-color:@brand-white;
            color:@brand-secondary;
        }
    }
    &.red{
        border-color:#d23e2a;
        color:#d23e2a;
        &:hover{
            background-color:#d23e2a;
            color:@brand-white;
        }
    }
    &.inactive{
        background-color:#c4c0be;
        border-color:#c4c0be;
        color:@brand-white;
        cursor:default;
    }
    &.next{
        background-color:@brand-secondary;
        border-color:@brand-secondary;
        color:@brand-white;
        &:hover{
            background-color:@brand-primary;
            border-color:@brand-primary;
        }
    }
    &.secondary{
        border-color:@brand-secondary;
        color:@brand-secondary;
        &:hover{
            color:@brand-white;
        }
    }
    &.small{
        .responsive-font(18px);
        min-width:265px;
        text-transform:uppercase;
        line-height:1em;
    }
    &.thin{
        padding:12px 40px;
    }
    &.min-medium{
        min-width:219px;
    }
    &.min-large{
        min-width:286px;
        @media @mq-tablet-below{
            min-width:0;
        }
    }
    &.cart{
        &:before{
            content:@icon-cart;
            font-family:@font-family-icons;
            display:inline-block;
            margin-right:5px;
            .responsive-font(28px);
            position:relative;
            top:4px;
            margin-top:-10px;
        }
    }
}

.columns{
    .make-row();
    margin-bottom:(@grid-gutter-width*2);
    &:after{
        content:'';
        display:block;
        clear:both;
    }
    .column-half{
        .make-sm-column(6);
    }
    .column-tier{
        .make-sm-column(4);
    }
    .column-quarter{
        .make-sm-column(3);
    }
    .column-sixth{
        .make-sm-column(2);
    }
    &.v-centered{
        font-size:0;
        .column-half,
        .column-tier,
        .column-quarter,
        .column-sixth{
            float:none;
            display:inline-block;
            vertical-align:middle;
            .responsive-font(@font-size-base);
            @media @mq-phone{
                display:block;
                margin-bottom:24px;
            }
        }
    }
    .column-half,
    .column-tier,
    .column-quarter,
    .column-sixth{
        @media @mq-phone{
            display:block;
            margin-bottom:24px;
        }
    }
}

.step-number{
    width:130px;
    height:130px;
    text-align:center;
    display:inline-block;
    margin:0 0 30px 0;
    background-color:@brand-secondary;
    color:@brand-white;
    font-family:@font-family-serif;
    font-weight:700;
    .responsive-font(87px);
    line-height:1em;
    .border-radius(9px);
    padding-top:20px;
    &.small{
        width:57px;
        height:57px;
        .responsive-font(28px);
        color:@brand-white;
        padding-top:15px;
        .border-radius(4px);
        @media @mq-phone{
            width:40px;
            height:40px;
            padding-top:10px;
            .responsive-font(22px);
        }
    }
    @media @mq-desktop{
        .responsive-font(68px);
        width:108px;
        height:108px;
    }
    @media @mq-tablet{
        .responsive-font(56px);
        width:96px;
        height:96px;
    }
}

hr{
    border:none;
    border-bottom:2px solid #d2d2d2;
    margin:40px 0;
    &.no-margin{
        margin:0 0 40px 0;
    }
}

.bg-content.adress{
    background-color:@brand-white;
    padding:10px;
    h2,.h2{
        .responsive-font(28px);
        color:@brand-primary;
        font-weight:400;
        padding:5px 10px 13px 10px;
        border-bottom:2px solid @gray-light;
        margin-bottom:13px;
        text-transform:uppercase;
    }
    h3,.h3{
        .responsive-font(20px);
        font-weight:bold;
        margin:0;
        font-family:@font-family-serif;
    }
    address{
        padding:5px 10px 10px 10px;
    }
    div.opening-hours{
        padding:14px 10px 10px 10px;
    }
    p{
        font-family:@font-family-serif;
    }
}

.resp-box{
    width:100%;
    height:1px;
    position:relative;
    &.map{
        padding-bottom:332px;
        @media @mq-phone{
            padding-bottom:57.83132530120482%;
        }
    }
    iframe{
        position:absolute;
        top:0;
        left:0;
        width:100% !important;
        height:100% !important;
    }
}

address{
    margin:0;
}

table.data-table{
    margin:0;
    border:none;
    th{
        font-weight:normal;
        .responsive-font(18px);
        padding:3px 22px;
        background-color:#e4e4e4;
        @media @mq-tablet{
            padding:3px 12px;
            .responsive-font(16px);
        }
    }
    td{
        .responsive-font(20px);
        padding:31px 22px;
        font-family:@font-family-serif;
        border-bottom:2px solid #e4e4e4;
        &.price{
            white-space:nowrap;
            color:@brand-secondary;
        }
        @media @mq-tablet{
            .responsive-font(18px);
            padding:20px 12px;
        }
    }
    tr:last-child{
        td{
            border-bottom:none;
            @media @mq-phone{
                border-bottom:2px solid #e4e4e4;
            }
        }
    }
    @media @mq-phone{
        thead{
            display:none;
        }
        td{
            display:block;
            text-align:center;
            padding:15px 22px;
            &.align-right{
                text-align:center;
            }
            &:first-child{
                background-color:#e4e4e4;
                border:none;
            }
            &:last-child{
                border:none;
            }
            &:empty{
                display:none;
            }
            &:before{
                content:attr(data-title);
                display:block;
            }
        }
    }
}

.align-right{
    text-align:right;
    @media @mq-phone{
        text-align:left;
    }
}