.site-footer{
    .footer-section{
        &.top{
            background-color:@gray-base;
            padding:32px 0;
            text-align:center;
            p{
                font-family:@font-family-serif;
                .content-block{
                    display:inline-block;
                    padding-left:60px;
                    height:70px;
                    padding-top:23px;
                    &.bold{
                        font-weight:700;
                        padding-left:77px;
                        margin-left:12px;
                        @media @mq-phone{
                            margin-left:0;
                            padding:0;
                            margin-bottom:0px;
                        }
                    }
                    @media @mq-phone{
                        padding:0;
                        display:block;
                        height:auto;
                        text-align:center;
                        margin-bottom:30px;
                    }
                }
                .picto{
                    float:left;
                    &.scooter{
                        max-width:39px;
                        margin-left:-60px;
                        margin-top:-23px;
                        @media @mq-phone{
                            float:none;
                            display:block;
                            margin: 0 auto 15px auto;
                        }
                    }
                    &.truck{
                        max-width:62px;
                        margin-left:-77px;
                        margin-top:-12px;
                        @media @mq-phone{
                            float:none;
                            display:block;
                            margin: 0 auto 15px auto;
                        }
                    }
                }
            }
        }
        &.middle{
            background:transparent url(../media/images/bg-footer.jpg) no-repeat scroll center center;
            background-size:cover;
            text-align:center;
            .col-sm-12{
                position:relative;
                &.with-border{
                    &:after{
                        content:'';
                        display:block;
                        width:100%;
                        border-bottom:1px solid @brand-white;
                        border-color:rgba(255,255,255,0.3);
                        margin-top:60px;
                    }
                }
                &.inline-text{
                    padding-top:79px;
                    h1,h2,h3,h4,h5,h6,p,ul,li{
                        margin:0 15px;
                        display:inline-block;
                        vertical-align:middle;
                    }
                    h1,h2,h3,h4,h5,h6{
                        .responsive-font(36px);
                        text-transform:none;
                        @media @mq-tablet-below{
                            display:block;
                            margin-bottom:20px;
                        }
                    }
                }
                .btn{
                    padding:15px 50px;
                    &:hover{
                        color:#715d55;
                    }
                }
                &.social{
                    padding-top:60px;
                    padding-bottom:125px;
                    nav{
                        ul{
                            margin:0;
                            padding:0;
                            text-align:center;
                            li{
                                list-style:none outside none;
                                display:inline-block;
                                margin:0 12px;
                                a{
                                    @icon-styles:{
                                        content:'';
                                        display:block;
                                        position:absolute;
                                        top:0;
                                        left:0;
                                        width:54px;
                                        height:54px;
                                        background-image:url(../media/images/sprite-social.png);
                                        background-repeat:no-repeat;
                                        .transition-property(~'opacity');
                                        .transition-duration(0.2s);
                                        .transition-timing-function(ease);
                                        @media @mq-pixel-ratio{
                                            background-image:url(../media/images/sprite-social_2x.png);
                                            background-size:298px 122px;
                                        }
                                    };
                                    display:block;
                                    width:54px;
                                    height:54px;
                                    text-indent:-50000px;
                                    overflow:hidden;
                                    position:relative;
                                    &:before,&:after{
                                        @icon-styles();
                                    }
                                    &:after{
                                        opacity:0;
                                        .ie8 &{
                                            display:none;
                                        }
                                    }
                                    &:hover{
                                        &:before{
                                            opacity:0;
                                            .ie8 &{
                                                display:none;
                                            }
                                        }
                                        &:after{
                                            opacity:1;
                                            .ie8 &{
                                                display:block;
                                            }
                                        }
                                    }
                                    &.facebook{
                                        &:before{
                                            background-position:0 0;
                                        }
                                        &:after{
                                            background-position:0 -68px;
                                        }
                                    }
                                    &.twitter{
                                        &:before{
                                            background-position:-81px 0;
                                        }
                                        &:after{
                                            background-position:-81px -68px;
                                        }
                                    }
                                    &.linkedin{
                                        &:before{
                                            background-position:-163px 0;
                                        }
                                        &:after{
                                            background-position:-163px -68px;
                                        }
                                    }
                                    &.instagram{
                                        &:before{
                                            background-position:-244px 0;
                                        }
                                        &:after{
                                            background-position:-244px -68px;
                                        }
                                    }
                                }
                                @media @mq-phone{
                                    margin:0 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.bottom{
            .background-alpha(#1f1915,70%);
            padding:19px 0;
            position:relative;
            .col-md-3{
                text-align:right;
            }
            .col-md-9{
                text-align:left;
            }
            .col-md-9,.col-md-3{
                .responsive-font(16px);
                @media @mq-tablet-below{
                    text-align:center;
                }
            }
            p,nav{
                display:inline-block;
                vertical-align:middle;
                margin:0;
                .responsive-font(16px);
                @media @mq-phone{
                    display:block;
                }
            }
            nav{
                ul{
                    margin:0;
                    padding:0;
                    li{
                        margin:0 0 0 11px;
                        padding:0 0 0 15px;
                        display:inline-block;
                        border-left:1px solid @brand-white;
                        font-weight:300;
                        a{
                            color:@brand-white;
                        }
                        @media @mq-phone{
                            margin:10px 0 0 0;
                            padding:0;
                            display:block;
                            border-left:none;
                        }
                    }
                }
            }
            .creation-web{
                a{
                    display:inline-block;
                    padding-left:23px;
                    color:@brand-white;
                    margin-left:5px;
                    &:before{
                        content:'';
                        display:block;
                        width:16px;
                        height:16px;
                        float:left;
                        margin-left:-23px;
                        background:transparent url(../media/images/logo-cible.png) no-repeat scroll 0 0;
                        position:relative;
                        top:1px;
                        @media @mq-pixel-ratio{
                            background-image:url(../media/images/logo-cible_2x.png);
                            background-size:16px 16px;
                        }
                    }
                }
                @media @mq-tablet-below{
                    margin-top:30px;
                }
            }
            .back-to-top{
                display:block;
                position:absolute;
                margin:0 auto;
                left:-9999px;
                right:-9999px;
                bottom:100%;
                width:174px;
                height:50px;
                text-indent:-50000px;
                overflow:hidden;
                .background-alpha(#1f1915,70%);
                &:after{
                    .absolute-center-center();
                    content:'';
                    display:block;
                    width:26px;
                    height:15px;
                    background:transparent url(../media/images/sprite-arrows.png) no-repeat scroll -74px -5px;
                    @media @mq-pixel-ratio{
                        background-image:url(../media/images/sprite-arrows_2x.png);
                        background-size:149px 26px;
                    }
                }
            }
        }
    }
}