
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "icons.less";


.sticky-placeholder-wrapper{
    display:block;
    .sticky-placeholder-label{
        padding-top:18px !important;
        font-family:@font-family-serif;
        font-weight:normal;
        text-align:left;
        white-space:nowrap;
        overflow:hidden;
        .responsive-font(20px);
        .multiline-placeholder &{
            white-space:normal;
            padding-right:35px;
        }
        @media @mq-phone{
            padding-top:21px !important;
            .responsive-font(16px);
        }
    }
}
.form-group{
    label{
        display:block;
        margin-bottom:0;
        position:relative;
        .captcha-box&{
            @media @mq-tablet-below{
                clear:both;
            }
        }
        & input.form-control,.bootstrap-select .btn{
            padding-left:35px;
            height:@input-height-large;
            .caret{
                top:26px;
            }
        }
        &.required .form-control,
        & .required.form-control,
        &.required .bootstrap-select .btn,
        & .bootstrap-select.required .btn{
            .box-shadow(inset 275px 0px 0px -255px @brand-primary) !important;
        }
        textarea{
            padding:18px 35px;
            height:237px;
            resize:none;
        }
    }
    &.required .form-control,
    &.required .bootstrap-select .btn{
        .box-shadow(inset 275px 0px 0px -255px @brand-primary) !important;
    }
    
}

.required-fields{
    float:right;
    border-left:20px solid @brand-primary;
    padding:3px 0 3px 14px;
    .responsive-font(18px);
    margin-top:15px;
}

form .col-sm-6,
form .col-sm-12{
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}

.captcha-box{
    padding-top:15px;
    padding-left:289px;
    p{
        margin-left:-289px;
        margin-bottom:10px;
        @media @mq-tablet-below{
            margin:0 0 10px 0;
        }
    }
    img{
        float:left;
        margin-left:-289px;
        max-width:none;
        @media @mq-tablet-below{
            margin:0 20px 15px 0;
        }
    }
    button.btn{
        float:left;
        margin-left:-89px;
        width:69px;
        height:69px;
        position:relative;
        overflow:hidden;
        &:before,&:after{
            content:'';
            display:block;
            width:42px;
            height:37px;
            background:transparent url(../media/images/sprite-captcha.png) no-repeat scroll 0 0;
            .absolute-center-center();
            opacity:1;
            .ie8 &{
                display:block;
            }
            .transition-property(~'opacity');
            .transition-duration(0.2s);
            .transition-timing-function(ease);
            @media @mq-pixel-ratio{
                background-image:url(../media/images/sprite-captcha_2x.png);
                background-size:89px 37px;
            }
        }
        &:after{
            background-position:-47px 0;
            opacity:0;
            .ie8 &{
                display:none;
            }
        }
        &:hover{
            &:before{
                opacity:0;
                .ie8 &{
                    display:none;
                }
            }
            &:after{
                opacity:1;
                .ie8 &{
                    display:block;
                }
            }
        }
        @media @mq-tablet-below{
            margin-left:0;
        }
    }
    @media @mq-tablet-below{
        padding-left:0;
    }
}

.submit-box{
    text-align:center;
    padding-top:45px;
    input{
        min-width:180px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}