.site-header{
    height:125px;
    position:relative;
    z-index:60;
    .tertiary-menu{
        height:41px;
        width:100%;
        background-color:#3a3a3a;
        background-color:rgba(58,58,58,0.8);
    }
    .container{
        font-size:0;
        padding:13px (@grid-gutter-width/2) 0 (@grid-gutter-width/2);
        position:relative;
        .col-sm-3,.col-sm-9{
            display:inline-block;
            vertical-align:middle;
            float:none;
            .responsive-font(16px);
            @media screen and (max-width:@grid-float-breakpoint-max){
                display:block;
                width:100%;
            }
        }
        &:after{
            content:'';
            display:block;
            margin-top:13px;
            width:100%;
            border-bottom:1px solid @brand-white;
            border-color:rgba(255,255,255,0.3);
            @media screen and (max-width:@grid-float-breakpoint-max){
                content:none;
            }
        }
        .site-logo{
            @media screen and (max-width:@grid-float-breakpoint-max){
                text-align:center;
                & > a{
                    display:inline-block;
                    max-width:176px;
                }
            }
        }
        .navbar-toggle{
            position:absolute;
            top:8px;
            right:0px;
            .icon-bar{
                background-color:@text-color;
                height:4px;
                .border-radius(4px);
            }
        }
        .menus{
            text-align:right;
            position:static;
            @media screen and (max-width:@grid-float-breakpoint-max){
                padding:0;
                margin-top:11px;
            }
        }
        .cart{
            display:inline-block;
            vertical-align:top;
            margin-top:-4px;
            & > a{
                display:block;
                border:2px solid #ff9d00;
                .border-radius(7px);
                .box-shadow(1px 1px 1px #000);
                text-shadow:1px 1px 1px #000;
                padding:9px 11px;
                background-color:transparent;
                .transition-property(~'color,background-color,border-color');
                .transition-duration(0.2s);
                .transition-timing-function(ease);
                .icon-cart{
                    display:inline-block;
                    vertical-align:middle;
                    text-align:left;
                    text-indent:-50000px;
                    overflow:hidden;
                    position:relative;
                    width:35px;
                    height:35px;
                    &:after{
                        position:absolute;
                        left:0;
                        top:0;
                        font-weight:400;
                        content:@icon-cart;
                        font-family:@font-family-icons;
                        .responsive-font(34px);
                        display:block;
                        text-indent:0;
                        line-height:35px;
                        color:#ff9d00;
                        .transition-property(~'color');
                        .transition-duration(0.2s);
                        .transition-timing-function(ease);
                        @media @mq-desktop{
                            .responsive-font(28px);
                        }
                    }
                }
                .badge{
                    vertical-align:middle;
                    .responsive-font(18px);
                    background:transparent none;
                    @media @mq-desktop{
                        .responsive-font(16px);
                    }
                }
                &:hover{
                    text-decoration:none;
                }
                @media @mq-desktop{
                    padding:5px 7px;
                    font-size:0;
                }
            }
            &:hover > a{
                background-color:transparent;
            }
            & > a:hover{
                background-color:#ff9d00;
                .icon-cart:after{
                    color:@brand-white;
                }
                &:after{
                    content:none;
                }
            }
            @media screen and (max-width:@grid-float-breakpoint-max){
                position:absolute;
                left:15px;
                top:18px;
                margin:0;
                & > a,& > a:hover{
                    border:none;
                    .box-shadow(none);
                    text-shadow:none;
                    padding:0;
                    background-color:transparent;
                    .icon-cart{
                        &:after{
                            color:@text-color;
                            .responsive-font(28px);
                        }
                    }
                }
                .badge{
                    display:none;
                }
            }
        }
        .navbar-collapse{
            @media screen and (min-width:@grid-float-breakpoint){
                display:inline-block !important;
                vertical-align:top;
                width:auto;
            }
            width:100%;
            padding:0;
            @media screen and (max-width:@grid-float-breakpoint-max){
                background-color:@brand-secondary;
                position:absolute;
                top:100%;
                left:0;
                width:100%;
                margin-top:-1px;
            }
            border:none;
            .navbar-nav{
                float:none;
                text-align:right;
                font-size:0;
                & > li,
                & > li:focus{
                    @hover-main-menu:{
                        background-color:transparent;
                        color:@brand-primary;
                        &:after{
                            content:'';
                            display:block;
                            width:100%;
                            height:2px;
                            background-color:@brand-primary;
                            margin-bottom:-2px;
                        }
                        @media screen and (max-width:@grid-float-breakpoint-max){
                            color:@brand-white;
                            &:after{
                                content:none;
                            }
                        }
                    };
                    float:none;
                    display:inline-block;
                    vertical-align:middle;
                    .responsive-font(18px);
                    & > a,
                    & > a:focus{
                        font-family:@font-family-serif;
                        font-weight:700;
                        color:@brand-white;
                        text-transform:uppercase;
                        text-shadow:1px 1px 1px #000;
                        padding:11px 15px;
                        background-color:transparent;
                        position:relative;
                        &:hover{
                            @hover-main-menu();
                        }
                        @media @mq-desktop{
                            padding:6px 10px;
                        }
                        @media screen and (max-width:@grid-float-breakpoint-max){
                            text-shadow:none;
                            font-weight:400;
                        }
                    }
                    &.icon-search{
                        & > a{
                            span.visible-xs-inline-block{
                                margin-right:9px;
                            }
                            span.icon{ 
                                display:inline-block;
                                text-align:left;
                                text-indent:-50000px;
                                overflow:hidden;
                                position:relative;
                                width:25px;
                                height:25px;
                                margin:0 15px -8px 0;
                                &:after{
                                    position:absolute;
                                    left:1px;
                                    top:0;
                                    font-weight:400;
                                    content:@icon-search !important;
                                    font-family:@font-family-icons;
                                    .responsive-font(24px);
                                    display:block;
                                    text-indent:0;
                                    line-height:25px;
                                    color:@brand-white;
                                    @media screen and (max-width:@grid-float-breakpoint-max){
                                        .responsive-font(20px);
                                    }
                                }
                                &:hover:after{
                                    width:auto;
                                    height:auto;
                                    background-color:transparent;
                                    margin:0;
                                }
                                @media screen and (max-width:@grid-float-breakpoint-max){
                                    margin-bottom:-5px;
                                }
                            }
                        }
                    }
                    &.icon-search:hover{
                        & > a{
                            background-color:transparent;
                            &:after{
                                width:auto;
                                height:auto;
                                background-color:transparent;
                                margin:0;
                            }
                        }
                    }
                    @media @mq-desktop{
                        .responsive-font(16px);
                    }
                    @media screen and (max-width:@grid-float-breakpoint-max){
                        display:block;
                    }
                    &:hover > a,
                    &.active > a{
                        @hover-main-menu();
                    }
                    & > .dropdown-menu{
                        left:15px;
                        clear:both;
                        @media screen and (max-width:@grid-float-breakpoint-max){
                            margin-right:-50px;
                            background-color:#eeeeee;
                            a{
                                &:hover{
                                    background-color:transparent;
                                }
                            }
                        }
                        @media @mq-desktop{
                            left:10px;
                        }
                        &:after{
                            content:'';
                            display:block;
                            clear:both;
                        }
                    }
                    @media screen and (max-width:@grid-float-breakpoint-max){
                        &.dropdown{
                            padding-right:50px;
                            a{
                                float:left;
                                width:100%;
                            }
                            .dropdown-toggle{
                                float:right;
                                width:50px;
                                height:50px;
                                margin-right:-50px;
                                background-color:transparent;
                                &:after{
                                    content:'' !important;
                                    display:block;
                                    border:10px solid transparent;
                                    border-top-color:@brand-white;
                                    position:absolute;
                                    top:19px;
                                    left:15px;
                                    width:1px !important;
                                    height:1px !important;
                                    background-color:transparent !important;
                                }
                            }
                            &:after{
                                content:'';
                                display:block;
                                clear:both;
                            }
                        }
                        &.dropdown.open{
                            .dropdown-toggle{
                                &:after{
                                    border-top-color:transparent;
                                    border-bottom-color:@brand-white;
                                    top:9px;
                                }
                            }
                        }
                        &.icon-search,&.icon-search{
                            a,a:hover{
                                background-color:@brand-primary;
                            }
                        }
                    }
                }
                @media screen and (max-width:@grid-float-breakpoint-max){
                    text-align:left;
                    margin:0;
                }
            }
            .tertiary{
                height:0;
                margin:-52px -91px 52px 0;
                font-size:0;
                padding:0;
                li{
                    display:inline-block;
                    text-align:center;
                    .responsive-font(16px);
                    font-family:@font-family-serif;
                    margin-left:36px;
                    a,a:focus{
                        color:@brand-white;
                        display:inline-block;
                        text-decoration:none;
                        &:hover{
                            text-decoration:none;
                            color:@brand-primary;
                        }
                        &:before{
                            color:inherit;
                            font-family:@font-family-icons;
                            margin-right:12px;
                            .responsive-font(20px);
                            display:inline-block;
                            position:relative;
                            top:3px;
                            @media screen and (max-width:@grid-float-breakpoint-max){
                                content:none !important;
                            }
                        }
                        @media screen and (max-width:@grid-float-breakpoint-max){
                            padding:14px 0;
                            width:100%;
                        }
                    }
                    &.projects a:before{
                        content:@icon-suitcase;
                    }
                    &.user a:before{
                        content:@icon-user;
                    }
                    &.disconnect a:before{
                        content:@icon-disconnect;
                    }
                    &.connect a:before{
                        content:@icon-unlock;
                    }
                    @media screen and (max-width:@grid-float-breakpoint-max){
                        width:50%;
                        margin:0;
                        .responsive-font(18px);
                        text-transform:uppercase;
                        &:first-child{
                            border-right:2px solid @brand-white;
                        }
                    }
                }
                @media @mq-desktop{
                    margin:-57px -80px 59px 0;
                }
                @media screen and (max-width:@grid-float-breakpoint-max){
                    margin:0;
                    height:auto;
                    background-color:@gray-darker;
                    text-align:left;
                }
            }
        }
        @media @mq-phone{
            padding-left:0;
            padding-right:0;
        }
    }
    @media screen and (max-width:@grid-float-breakpoint-max){
        height:72px;
        padding-bottom:10px;
        background-color:#cfcfcf;
    }
}

.modal-dialog.login{
    width:95%;
    max-width:650px;
    .modal-content{
        padding:0 @grid-gutter-width @grid-gutter-width @grid-gutter-width;
        text-align:center;
        position:relative;
        .close{
            float:right;
            border:none;
            background:transparent none;
            position:absolute;
            top:27px;
            right:20px;
            color:@text-color;
            cursor:pointer;
            &:hover{
                text-decoration:none;
            }
            &:after{
                content:'X';
                font-family:@font-family-serif;
                font-weight:700;
            }
        }
        h2{
            padding:23px 27px;
            font-weight:400;
            .responsive-font(28px);
            border-bottom:2px solid #e4e4e4;
            text-align:left;
            margin-bottom:30px;
        }
        form{
            max-width:377px;
            margin:0 auto 32px auto;
            label{
                display:block;
                margin-bottom:21px;
                .form-control{
                    height:69px;
                    padding:16px 35px;
                }
                .checkbox{
                    text-align:left;
                    margin:0 0 0 5px;
                }
                &.remember-me{
                    display:inline-block;
                    width:auto;
                    float:left;
                    margin-top:-16px;
                    span{
                        font-weight:400;
                        .responsive-font(16px);
                        font-family:@font-family-serif;
                    }
                }
            }
        }
        .row{
            .col-sm-4{
                text-align:left;
                padding-left:((@grid-gutter-width/2)*3);
                @media @mq-phone{
                    padding:0 (@grid-gutter-width/2);
                    text-align:center;
                }
            }
            .col-sm-8{
                text-align:right;
                padding-right:((@grid-gutter-width/2)*3);
                @media @mq-phone{
                    padding:0 (@grid-gutter-width/2);
                    text-align:center;
                }
            }
            a{
                color:@text-color;
                font-family:@font-family-serif;
                .responsive-font(16px);
                &:hover{
                    text-decoration:none;
                    color:@brand-primary;
                }
            }
        }
    }
}