
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "icons.less";

.slider-box{
    position:relative;
    z-index:10;
    float:left;
    width:100%;
    margin-top:-125px;
    overflow:hidden;
    & > *{
        width:100%;
    }
    .carousel-top{
        @media @mq-phone{
            height:100%;
        }
    }
    .carousel-indicators{
        margin-bottom:0;
        bottom:6.133333333333333%;
        font-size:0;
        li{
            width:15%;
            height:20px;
            .border-radius(6px);
            border:2px solid @brand-white;
            margin:0 0.75%;
            opacity:0.5;
            filter: alpha(opacity=50);
        }
    }
    .carousel-inner{
        z-index:10;
        .item{
            overflow:hidden;
            & > img{
                .absolute-center-center();
                z-index:1;
                height:100%;
                max-width:none;
            }
            .container{
                height:1px;
                //padding-bottom:40,25%;
                padding-bottom:800px;
                position:relative;
                z-index:3;
                font-size:0;
                &:after{
                    content:'';
                    display:inline-block;
                    vertical-align:bottom;
                    width:1px;
                    height:1px;
                    //padding-bottom:63,55932203389831%;
                    padding-bottom:800px;
                    margin-right:-1px;
                    @media @mq-desktop{
                        padding-bottom:483px;
                    }
                    @media @mq-tablet{
                        padding-bottom:400px;
                    }
                    @media @mq-phone{
                        padding-bottom:0;
                        height:100%;
                    }
                }
                .content{
                    display:inline-block;
                    width:100%;
                    vertical-align:bottom;
                    text-align:center;
                    margin-bottom:10%;
                    h2{
                        .responsive-font(48px);
                        text-transform:none;
                        text-shadow:1px 1px 1px rgba(0,0,0,0.5);
                        margin:0 0 25px 0;
                        .primary{
                            color:@brand-primary;
                            font-weight:bold;
                        }
                        br{
                            display:none;
                            @media @mq-phone{
                                display:block;
                            }
                        }
                        @media @mq-desktop{
                            .responsive-font(40px);
                        }
                        @media @mq-tablet{
                            .responsive-font(30px);
                        }
                        @media @mq-phone{
                            font-size:10vw;
                        }
                    }
                    p{
                        .responsive-font(30px);
                        font-weight:400;
                        @media @mq-desktop{
                            .responsive-font(20px);
                        }
                        @media @mq-tablet{
                            .responsive-font(16px);
                        }
                        @media @mq-phone{
                            font-size:5vw;
                        }
                    }
                    @media @mq-phone{
                        margin-bottom:15vh;
                    }
                }
                @media @mq-desktop{
                    padding-bottom:483px;
                }
                @media @mq-tablet{
                    padding-bottom:400px;
                }
                @media @mq-phone{
                    padding-bottom:0;
                    height:100%;
                }
            }
            @media @mq-phone{
                height:100%;
            }
        }
        @media @mq-phone{
            height:100%;
        }
    }
    .carousel-control{
        z-index:15;
        width:50px;
        height:174px;
        background:transparent none;
        filter:none;
        opacity:1;
        .background-alpha(#000000,50%);
        top:-9999px;
        bottom:-9999px;
        margin:auto 0;
        overflow:hidden;
        &:hover{
            opacity:1;
        }
        &:after{
            content:'';
            display:block;
            width:15px;
            height:26px;
            background:transparent url(../media/images/sprite-arrows.png) no-repeat scroll 0 0;
            .absolute-center-center();
            @media @mq-pixel-ratio{
                background-image:url(../media/images/sprite-arrows_2x.png);
                background-size:149px 26px;
            }
        }
        &.right:after{
            background-position:-40px 0;
        }
        @media @mq-phone{
            display:none;
        }
    }
    @media screen and (max-width:@grid-float-breakpoint-max){
        margin-top:-72px;
        padding-top:72px;
    }
    @media @mq-phone{
        margin-top:-72px;
        padding-top:72px;
        height:100vh;
    }
}


.home-intro-zone{
    clear:both;
    background-color:@brand-white;
    padding:60px 0;
    text-align:center;
    .container{
        max-width:815px;
    }
}

.home-featured-zone{
    background-color:@brand-secondary;
    .featured{
        text-align:center;
        font-size:0;
        height:1px;
        padding-bottom:26.75%;
        overflow:hidden;
        &.doors{
            background-color:@brand-primary;
            .btn{
                &:hover{
                    color:@brand-primary;
                }
            }
        }
        &.hardware{
            background-color:#d23e2a;
            .btn{
                &:hover{
                    color:#d23e2a;
                }
            }
        }
        .icon{
            max-width:17.77434312210201%;
            margin:0 auto 27px auto;
            @media @mq-desktop{
                max-width:25%;
            }
            @media @mq-tablet{
                max-width:35%;
            }
            @media @mq-phone{
                max-width:40%;
            }
        }
        .content{
            width:100%;
            .responsive-font(@font-size-base);
            display:inline-block;
            vertical-align:middle;
            h2{
                max-width:45%;
                margin:0 auto 26px auto;
                text-transform:uppercase;
                font-weight:700;
                font-size:1.2vw;
                font-family:@font-family-serif;
                @media @mq-desktop{
                    max-width:65%;
                    font-size:1.6vw;
                }
                @media @mq-tablet{
                    max-width:85%;
                    font-size:2.4vw;
                }
                @media @mq-phone{
                    max-width:none;
                    .responsive-font(26px);
                }
            }
            p{
                max-width:65%;
                margin:0 auto 24px auto;
                font-size:1vw;
                &:last-child{
                    margin-bottom:0;
                }
                .btn{
                    font-size:1vw;
                    padding:3.571428571428571% 4.761904761904762%;
                    @media @mq-desktop{
                        font-size:1.4vw;
                        padding:4.271428571428571% 6.361904761904762%;
                    }
                    @media @mq-tablet{
                        font-size:2vw;
                        padding:6.271428571428571% 8.361904761904762%;
                    }
                    @media @mq-phone{
                        font-size:inherit;
                        padding:15px 20px;
                    }
                }
                @media @mq-desktop{
                    max-width:85%;
                    font-size:1.4vw;
                }
                @media @mq-tablet{
                    max-width:none;
                    font-size:2vw;
                }
                @media @mq-phone{
                    max-width:none;
                    font-size:inherit;
                }
            }
            @media @mq-phone{
                padding:40px 20px;
            }
        }
        &:after{
            content:'';
            display:inline-block;
            vertical-align:middle;
            width:1px;
            height:1px;
            padding-bottom:80.20989505247376%;
            margin-right:-1px;
            @media @mq-desktop{
                padding-bottom:120%;
            }
            @media @mq-tablet{
                padding-bottom:210%;
            }
            @media @mq-phone{
                content:none;
            }
        }
        @media @mq-desktop{
            padding-bottom:40%;
        }
        @media @mq-tablet{
            padding-bottom:65%;
        }
        @media @mq-phone{
            padding-bottom:0;
            height:auto;
        }
    }
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}
