@icon-unlock: "\e924";
@icon-trash: "\e923";
@icon-search: "\e922";
@icon-disconnect: "\e900";
@icon-user: "\e901";
@icon-add-user: "\e902";
@icon-arrow-left: "\e903";
@icon-arrow-right: "\e904";
@icon-banner-next: "\e905";
@icon-banner-previous: "\e906";
@icon-banners-bullet-full: "\e907";
@icon-banners-bullet-openl: "\e908";
@icon-cart: "\e909";
@icon-dropdown-arrow: "\e90a";
@icon-dropdown-arrow-inverted: "\e90b";
@icon-email: "\e90c";
@icon-facebook: "\e90d";
@icon-google: "\e90e";
@icon-graph: "\e90f";
@icon-hourglass: "\e910";
@icon-instagram: "\e911";
@icon-laptop: "\e912";
@icon-linkedin: "\e913";
@icon-mobile: "\e914";
@icon-monitor: "\e915";
@icon-options: "\e916";
@icon-plus: "\e917";
@icon-steam: "\e918";
@icon-tablet: "\e919";
@icon-twitter: "\e91a";
@icon-upload-cloud: "\e91b";
@icon-video-play: "\e91c";
@icon-windows: "\e91f";
@icon-youtube: "\e920";
@icon-suitcase: "\e921";
@icon-lock: "\e91d";
@icon-unlocked: "\e91e";