
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "content.less";
@import "icons.less";
.font-face('edith','-webfont');

@import "header.less";
@import "footer.less";


body.no-slider{
    background:@gray-lighter url(../media/images/bg-products.jpg) no-repeat scroll center top;
}

img{
    max-width:100%;
}


.dropdown{
    & > .dropdown-toggle{
        display:block;
    }
    @media screen and (min-width:@grid-float-breakpoint){
        & > .dropdown-toggle{
            display:none !important;
        }
        &:hover{
            & > a{
                background-color:@gray-lighter;
                color:@link-hover-color;
            }
            & > .dropdown-menu{
                display:block;
            }
        }
    }
}

.form-control{
    .responsive-font(20px);
    &,&:focus{
        border:2px solid @gray-dark;
        .box-shadow(none);
        font-family:@font-family-serif;
        font-weight:400;
    }
    @media @mq-phone{
        .responsive-font(16px);
    }
}

.bootstrap-select{
    position:relative;
    .dropdown-toggle{
        width:100%;
        padding-right:60px;
        position:relative;
        text-align:left;
        overflow:hidden;
        .pull-left{
            float:none !important;
            display:block;
            max-width:100%;
            margin-bottom:-24px;
            white-space:nowrap;
            .responsive-font(20px);
            @media @mq-phone{
                .responsive-font(16px);
            }
        }
        .caret{
            border:none;
            margin:0;
            position:absolute;
            right:15px;
            top:20px;
            display:block;
            width:28px;
            height:15px;
            .small&{
                width:11px;
                height:7px;
                right:7px;
                top:14px;
            }
            &:before{
                content:'';
                display:block;
                width:28px;
                height:15px;
                background:transparent url(../media/images/sprite-arrows.png) no-repeat scroll -105px -6px;
                .small&{
                    width:11px;
                    height:7px;
                    background-position:-138px -9px;
                }
                @media @mq-pixel-ratio{
                    background-image:url(../media/images/sprite-arrows_2x.png);
                    background-size:149px 26px;
                }
            }
        }
        .small&{
            height:@input-height-small;
            .responsive-font(16px);
            line-height:1.25em;
            padding:6px 25px 6px 8px;
        }
    }
    &.open > .dropdown-toggle,
    & .dropdown-toggle,
    &.open .dropdown-toggle:hover,
    & .dropdown-toggle:focus{
        background-color:transparent;
        border-color:@gray-darker;
        color:@text-color;
        z-index:10;
    }
    & > .dropdown-menu{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        max-height:none !important;
        min-height:0 !important;
        overflow:visible !important;
        padding:0;
        .dropdown-menu{
            width:100%;
            position:static;
            border:none;
            margin:0;
            .glyphicon{
                display:none;
            }
            a{
                white-space:normal;
            }
        }
    }
    &.dropup > .dropdown-menu{
        position:absolute;
        top:auto;
        bottom:100%;
        left:0;
    }
}

abbr[data-original-title],
abbr[title]{
    cursor:default;
    border:none;
    text-decoration:none;
}

.checkbox{
    display:inline-block;
    vertical-align:middle;
    width:22px;
    height:22px;
    border:2px solid @text-color;
    background-color:transparent;
    overflow:hidden;
    margin:0;
    .border-radius(7px);
    .transition-property(~'background-color,border-color');
    .transition-duration(0.2s);
    .transition-timing-function(ease);
    &.checked{
        border-color:@brand-primary;
        background-color:@brand-primary;
        &:after{
            content:'x';
            display:block;
            width:18px;
            height:18px;
            .absolute-center-center();
            text-align:center;
            color:@brand-white;
            line-height:16px;
        }
    }
}