
@import "custom-variables.less";
@import "vendor/cible/mixins/mixins.less";
@import "vendor/bootstrap/mixins.less";
@import "icons.less";

.title-bar{
    margin-top:-125px;
    padding-top:125px;
    background:#9F9078 none;
    position:relative;
    .banner{
        width:100%;
        max-width:none;
        .absolute-center-center();
        @media @mq-phone{
            width:auto;
            height:100%;
        }
    }
    .container{
        text-align:center;
        font-size:0;
        .col-sm-12{
            &:after{
                content:'';
                display:inline-block;
                vertical-align:middle;
                width:1px;
                height:1px;
                margin-right:-1px;
                padding-bottom:18.8135593220339%;
            }
            h1{
                display:inline-block;
                vertical-align:middle;
                width:100%;
                color:@brand-white;
                text-shadow:1px 1px 1px #000;
                .responsive-font(57px);
                @media @mq-desktop{
                    .responsive-font(45px);
                }
                @media @mq-tablet{
                    .responsive-font(40px);
                }
                @media @mq-phone{
                    font-size:10.28571428571429vw;
                    padding:10% 0;
                }
            }
        }
    }
}

.intro{
    background-color:@brand-primary;
    padding:68px 0;
    text-align:center;
    position:relative;
    z-index:3;
}

.main-content{
    padding-bottom:20px;
    background-color:@gray-lighter;
    overflow:hidden;
    position:relative;
    .no-slider &{
        background-color:transparent;
    }
    .with-slider &{
        padding-top:50px;
    }
}